<%- include('../partials/superadmin/header.ejs') %>
    <%- include('../partials/superadmin/navbar.ejs') %>

        <!-- Main Content -->
        <main class="col-md-9 col-lg-10">
            <div class="container my-5">
                <% if (errorMessage) { %>
                <div id="errorBox" class="alert alert-danger" role="alert">
                    <%= errorMessage %>
                </div>
                <% } %>
                <h2 class="mb-4">Add New System Admin</h2>
                <form class="mb-4" method="POST" id="myForm">
                    
                    <div class="mb-3">
                        <label for="userName" class="form-label">Admin Name</label>
                        <input type="text" class="form-control" maxlength="100" name="name" id="userName"
                            placeholder="Enter Admin name" value="<%= user.name %>" required>
						<p id="messageBox" class="mt-2 d-none text-danger">*Admin Name can't exceed 100 characters!</p>
                    </div>

                    <div class="mb-3">
                        <label for="userPassword" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="userPassword"
                            placeholder="Enter Admin Password"  required readonly>
						<input type="checkbox" class="me-2 mt-3" id="checkbox"><label for="checkbox">Show Password</label>
                    </div>

                    <div class="mb-3">
                        <label for="userPhone" class="form-label">Phone</label>
                        <input type="tel" class="form-control" maxlength="45" name="phone" id="userPhone"
                            placeholder="Enter Admin Phone Number" value="<%= user.phone %>" required>
						<p id="messageBox" class="mt-2 d-none text-danger">*Phone can't exceed 45 characters!</p>
                    </div>

                    <div class="mb-3">
                        <label for="userEmail" class="form-label" id="labelEmail">Email</label>
                        <input type="email" class="form-control" maxlength="45" name="email" id="userEmail"
                            placeholder="Enter Admin Email" value="<%= user.email %>" required>
						<p id="messageBox" class="mt-2 d-none text-danger">*Email can't exceed 45 characters!</p>
                    </div>

                    <button type="submit" class="btn btn-success w-100 mb-2" id="addBtn">Add</button>
                    <a href="/superadmin/users?page=<%= page %>" class="btn btn-danger w-100">Cancel</a>
    
                </form>
            </div>
        </main>

        <script>
            
			function generatePassword() {
			    const password = Math.random().toString(36).slice(-8);
			    document.getElementById('userPassword').value = password;
			}

			const form = document.getElementById('myForm');
			const addButton = document.getElementById('addBtn');
			const inputs = form.querySelectorAll('.form-control[required]:not([readonly])');
			const userEmail = document.getElementById('userEmail')
			const labelEmail = document.getElementById('labelEmail')
			const userPassword = document.getElementById('userPassword')
			const checkbox = document.getElementById('checkbox')


			checkbox.addEventListener('change', () => {
			    if (checkbox.checked) {
			        userPassword.type = 'text';
			    } else {
			        userPassword.type = 'password';
			    }
			});


			function checkInputs() {
				let allFilled = true;
				inputs.forEach(input => {
				  if (!input.value.trim()) {
				    allFilled = false;
				  }
				});
				addButton.disabled = !allFilled;
			}

			inputs.forEach(input => {
				input.addEventListener('input', checkInputs);
			});

			form.addEventListener('submit', function (event) {
			    addButton.disabled = true;
			    addButton.textContent = 'Submitting...';
			});


			userEmail.addEventListener('input', function (event) {
				userEmail.classList.remove('border-danger')
				labelEmail.style.color = 'black'
				userEmail.classList.remove('input-error')
			})

			checkInputs();
            generatePassword();

			// checking error types
			const searchParams = new URLSearchParams(window.location.search);
			const error = searchParams.get('error')

			if (error === 'true') {
				const type = searchParams.get('type')
				if (type === 'dup-email') {
					userEmail.classList.add('border-danger')
					labelEmail.style.color = '#bb2124'
					userEmail.addEventListener('focus', function() {
						userEmail.classList.add('input-error')
					});
					userEmail.addEventListener('blur', function() {
						userEmail.classList.remove('input-error')
					});
				}
			}

			const messageBox = document.querySelectorAll('#messageBox')

			inputs.forEach((input, index) => {
			    const message = messageBox[index];
			    input.addEventListener('input', () => {
			      if (input.value.length === parseInt(input.maxLength)) {
			        message.classList.remove('d-none');
			      } else {
			        message.classList.add('d-none');
			      }
			    });
			});
			
			
        </script>
        <%- include('../partials/superadmin/footer.ejs') %>