<%- include('../partials/superadmin/header.ejs') %>
    <%- include('../partials/superadmin/navbar.ejs') %>

        <!-- Main Content -->
        <main class="col-md-9 col-lg-10">
            <div class="container my-5">

                <% if (errorMessage) { %>
                    <div id="errorBox" class="alert alert-danger" role="alert">
                        <%= errorMessage %>
                    </div>
                    <% } %>
                        <% if (successMessage) { %>
                            <div id="successBox" class="alert alert-success" role="alert">
                                <%= successMessage %>
                            </div>
                            <% } %>
                                <h2 class="mb-4">
                                    <%= org.name %>
                                </h2>
                                <!-- Organization Details Form -->

                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link view-tab detail-tab active" aria-current="page" href="#"
                                            onclick="changeInfo('detail')">Info</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link view-tab users-tab" aria-current="page" href="#"
                                            onclick="changeInfo('users')">Users</a>
                                    </li>
                                </ul>
                                <form id="detail-view" class="mb-4  view-containers">
                                    <h3 class="my-4">Organization Details</h3>
                                    <div class="mb-3">
                                        <label for="orgName" class="form-label">Organization Name</label>
                                        <input type="text" class="form-control" name="name" id="orgName"
                                            placeholder="Enter organization name" value="<%= org.name %>" disabled>
                                    </div>
                                    <div class="mb-3">
                                        <label for="orgAddress" class="form-label">Address</label>
                                        <textarea class="form-control" id="orgAddress" name="address" rows="2"
                                            placeholder="Enter organization address"
                                            disabled><%= org.address %></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label for="orgPhone" class="form-label">Phone</label>
                                        <input type="tel" class="form-control" id="orgPhone" name="phone"
                                            placeholder="Enter phone number" value="<%= org.phone %>" disabled>
                                    </div>
                                    <div class="mb-3">
                                        <label for="orgStatus" class="form-label">Status</label>
                                        <select id="orgStatus" name="status" class="form-select" disabled>

                                            <% options.forEach(option=> { %>
                                                <option value="<%= option.name %>" <%=option.name===org.status
                                                    ? 'selected' : '' %> >
                                                    <%= option.name.toUpperCase() %>
                                                </option>
                                                <% }); %>
                                        </select>
                                    </div>
                                    <a href="/superadmin/organizations?page=<%= orgPage %>" class="btn btn-primary w-100 mb-2">Back to
                                        Organizations</a>
                                    <a href="/superadmin/organizations/update/<%= org.id %>?page=<%= orgPage %>"
                                        class="btn btn-warning w-100">Edit
                                        Organization</a>
                                    <div class="mt-3">
                                        <p>Current Expiration Date : <span id="currentExpirationDate"
                                                class="fw-bold mx-2">
                                            <%= new Date(org.expiredDate).toDateString() %>
                                                </span>
                                        </p>
                                    </div>

                                </form>

                                <div id="users-view" class="view-containers d-none mb-4">
                                    <div class="d-flex justify-content-between align-items-center mb-4">

                                        <h3 class="my-4">Users</h3>
                                        <button class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#addUserModal" onclick="generatePassowrd()">
                                            Add new user
                                        </button>
                                    </div>
                                    <!-- xxx -->
                                    <nav class="mb-4 d-flex w-100 justify-content-between">
                                        <form class="d-flex searchBar" role="search">
                                            <input class="form-control me-2" type="search" id="searchValue" placeholder="Enter username (or) email address" aria-label="Search" required>
                                            <button class="btn btn-primary" id="searchBtn" type="submit">Search</button>
                                        </form>
                                        <div>
                                            <div class="btn-group">
                                                <button type="button" class="btn dropdown-toggle px-3 sortBtn" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Role
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-end">
                                                    <a class="dropdown-item role dropdown-active" id="all" href="/superadmin/organizations/detail/<%= org.id %>?orgPage=<% orgPage %>&userPage=<%= pagination.page %>&activeUsers=true&role=all&status=<%= status %>">All</a>
                                                    <a class="dropdown-item role" id="manager" href="/superadmin/organizations/detail/<%= org.id %>?orgPage=<% orgPage %>&userPage=<%= pagination.page %>&activeUsers=true&role=manager&status=<%= status %>">Manager</a>
                                                    <a class="dropdown-item role" id="admin" href="/superadmin/organizations/detail/<%= org.id %>?orgPage=<% orgPage %>&userPage=<%= pagination.page %>&activeUsers=true&role=admin&status=<%= status %>">Admin</a>
                                                    <a class="dropdown-item role" id="staff" href="/superadmin/organizations/detail/<%= org.id %>?orgPage=<% orgPage %>&userPage=<%= pagination.page %>&activeUsers=true&role=staff&status=<%= status %>">Staff</a>
                                                </ul>
                                            </div>
                                            <div class="btn-group">
                                                <button type="button" class="btn dropdown-toggle px-3 sortBtn" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Filter
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-end">
                                                    <a class="dropdown-item status dropdown-active" id="all" href="/superadmin/organizations/detail/<%= org.id %>?orgPage=<% orgPage %>&userPage=<%= pagination.page %>&activeUsers=true&status=all&role=<%= role %>">All</a>
                                                    <a class="dropdown-item status" id="active" href="/superadmin/organizations/detail/<%= org.id %>?orgPage=<% orgPage %>&userPage=<%= pagination.page %>&activeUsers=true&status=active&role=<%= role %>">Active</a>
                                                    <a class="dropdown-item status" id="deleted" href="/superadmin/organizations/detail/<%= org.id %>?orgPage=<% orgPage %>&userPage=<%= pagination.page %>&activeUsers=true&status=deleted&role=<%= role %>">Inactive</a>
                                                    <a class="dropdown-item status" id="pending" href="/superadmin/organizations/detail/<%= org.id %>?orgPage=<% orgPage %>&userPage=<%= pagination.page %>&activeUsers=true&status=pending&role=<%= role %>">Pending</a>
                                                </ul>
                                            </div>
                                        </div>
                                    </nav>
                                    <!-- xxx -->
                                    <div class="table-responsive">

                                        <% if ( users.length==0 && pagination.page == 1 ) { %>
                                            <div class="alert alert-warning" role="alert">
                                                No users found.
                                            </div>
                                            <% } else {%>
                                                <table class="table table-striped table-hover">
                                                    <thead class="table-dark">
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Name</th>
															<th>Email</th>
                                                            <th>Phone</th>
                                                            <th>Role</th>
                                                            <th class="text-center">Status</th>
                                                            <th class="text-center">Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="userTable">
                                                        <!-- Dynamic rows go here -->
                                                        <% for (let i=0; i < users.length; i++) { %>
                                                            <tr>
                                                                <td>
                                                                    <%= i + (parseInt(pagination.page) - 1)*10 + 1 %>
                                                                </td>
                                                                <td>
                                                                    <%= users[i].name.length > 25 
											                        ? users[i].name.substring(0, 25) + "..." 
											                        : users[i].name %>
                                                                </td>
																<td>
																	<%= users[i].email.length > 30 
											                        ? users[i].email.substring(0, 30) + "..." 
											                        : users[i].email %>
                                                                </td>
                                                                <td>
																	<%= users[i].phone.length > 15 
											                        ? users[i].phone.substring(0, 15) + "..." 
											                        : users[i].phone %>
                                                                </td>
                                                                <td>
                                                                    <%= users[i].role.charAt(0).toUpperCase() + users[i].role.slice(1).toLowerCase() %>
                                                                </td>
                                                                <td class="text-center">
                                                                    <% if (users[i].status == 'active' ) { %>
                                                                        <div class="usericons" data-tooltip="Active" data-tooltip-color="#28a745"><i class="fa-solid fa-circle-check" style="color: green; font-size: 1.1rem;"></i></div>
                                                                    <% } else if (users[i].status == 'deleted' ) { %>
                                                                        <div class="usericons" data-tooltip="Inactive" data-tooltip-color="#dc3545"><i class="fa-solid fa-circle-xmark" style="color: red; font-size: 1.1rem;"></i></div>
                                                                    <% } else { %>
                                                                        <div class="usericons" data-tooltip="Pending" data-tooltip-color="#ffc107"><i class="fa-solid fa-circle-exclamation" style="color: orange; font-size: 1.1rem;"></i></div>
                                                                    <% } %>
                                                                </td>
                                                                <td style="padding-left: 3%;">
                                                                    <a href="/superadmin/organizations/detail/<%= org.id %>/<%= users[i].id %>?orgPage=<%= orgPage %>&userPage=<%= pagination.page %>&status=<%= status %>&role=<%= role %>"
                                                                        class="btn btn-primary btn-sm">View</a>
                                                                    <a href="/superadmin/organizations/update/<%= org.id %>/<%= users[i].id %>?orgPage=<%= orgPage %>&userPage=<%= pagination.page %>&status=<%= status %>&role=<%= role %>"
                                                                        class="btn btn-warning btn-sm">Edit</a>
                                                                    <% if (users[i].status=='deleted' ) { %>
                                                                        <a href="/superadmin/organizations/restoreuser/<%= users[i].orgId %>/<%= users[i].id %>?orgPage=<%= orgPage %>&userPage=<%= pagination.page %>&status=<%= status %>&role=<%= role %>"
                                                                            class="btn btn-danger btn-sm">Restore</a>
                                                                        <% } else { %>
                                                                            <a href="/superadmin/organizations/deleteuser/<%= users[i].orgId %>/<%= users[i].id %>?orgPage=<%= orgPage %>&userPage=<%= pagination.page %>&status=<%= status %>&role=<%= role %>"
                                                                                class="btn btn-danger btn-sm">Delete</a>
                                                                            <% } %>
                                                                </td>
                                                            </tr>
                                                        <% } %>

                                                    </tbody>
                                                </table>
                                                <% } %>
                                                <nav aria-label="..." id="paginationNav">
                                                    <div class="d-flex justify-content-center">
                                                        <p> <%= (parseInt(pagination.page) - 1)*10 + 1 %><span id="lastNum">-<%= parseInt(pagination.page) *10 %></span> / <%= pagination.total %></p>
                                                    </div>
                                                    <ul class="pagination d-flex justify-content-center">
                                                        <li class="page-item">
                                                            <a class="page-link" id="prevBtn" href="/superadmin/organizations/detail/<%= org.id %>?orgPage=<%= orgPage %>&userPage=<%= pagination.page -1 %>&activeUsers=true&status=<%= status %>&role=<%= role %>" tabindex="-1"><</a>
                                                        </li>
                                                        <li class="page-item prev"><a class="page-link" href="/superadmin/organizations/detail/<%= org.id %>?orgPage=<%= orgPage %>&userPage=1&activeUsers=true&status=<%= status %>&role=<%= role %>">1</a></li>
                                                        <li class="page-item prev"><a class="page-link" id="prevDots" href="#">...</a></li>
                                                        <li class="page-item prev" id="prevNum">
                                                            <a class="page-link" href="/superadmin/organizations/detail/<%= org.id %>?orgPage=<%= orgPage %>&userPage=<%= pagination.page -1 %>&activeUsers=true><%= pagination.page -1 %>&status=<%= status %>&role=<%= role %>"><%= pagination.page -1 %><span class="sr-only"></span></a>
                                                        </li>
                                                        <li class="page-item active" id="currentPage">
                                                            <a class="page-link" href="#"><%= pagination.page %><span class="sr-only"></span></a>
                                                        </li>
                                                        <li class="page-item next" id="nextNum">
                                                            <a class="page-link" href="/superadmin/organizations/detail/<%= org.id %>?orgPage=<%= orgPage %>&userPage=<%= +pagination.page +1 %>&activeUsers=true&status=<%= status %>&role=<%= role %>"><%= +pagination.page +1 %><span class="sr-only"></span></a>
                                                        </li>
                                                        <li class="page-item next"><a class="page-link" id="nextDots" href="#">...</a></li>
                                                        <li class="page-item next"><a class="page-link" href="/superadmin/organizations/detail/<%= org.id %>?orgPage=<%= orgPage %>&userPage=<%= pagination.totalPage %>&activeUsers=true&status=<%= status %>&role=<%= role %>"><%= pagination.totalPage %></a></li>
                                                        <li class="page-item">
                                                            <a class="page-link" id="nextBtn" href="/superadmin/organizations/detail/<%= org.id %>?orgPage=<%= orgPage %>&userPage=<%= +pagination.page +1 %>&activeUsers=true&status=<%= status %>&role=<%= role %>">></a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                    </div>
                                </div>
            </div>
        </main>

        <script>
            
            // Ensure users section 'active' in detail-organization ( While get query = 'activeUsers' )
            const searchParams = new URLSearchParams(window.location.search);
            const activeUsers = searchParams.get('activeUsers')
            if (activeUsers) {
                const tabs = document.querySelectorAll('.view-tab');
                tabs.forEach(tab => {
                    tab.classList.remove('active');
                })
                document.querySelector(`.users-tab`).classList.add('active');

                const containers = document.querySelectorAll('.view-containers');
                containers.forEach(container => {
                    container.classList.add('d-none');
                })
                document.getElementById(`users-view`).classList.remove('d-none');
            }

            const status = searchParams.get('status')
            if (status) {
                const statuses = document.querySelectorAll('.status');
                statuses.forEach(status => {
                    status.classList.remove('dropdown-active');
                })
                document.getElementById(`${status}`).classList.add('dropdown-active');
            }

            const role = searchParams.get('role')
            if (role) {
                const roles = document.querySelectorAll('.role');
                roles.forEach(role => {
                    role.classList.remove('dropdown-active');
                })
                document.getElementById(`${role}`).classList.add('dropdown-active');
            }

            // xxx
            
            const paginationNav = document.getElementById('paginationNav');
            const page = parseInt("<%= pagination.page %>", 10);
            const totalPage = parseInt("<%= pagination.totalPage %>", 10);
            const total = parseInt("<%= pagination.total %>", 10);
            const prevBtn = document.getElementById('prevBtn');
            const nextBtn = document.getElementById('nextBtn');
            const prevs = document.querySelectorAll('.prev');
            const nexts = document.querySelectorAll('.next');
            const prevDots = document.getElementById('prevDots');
            const nextDots = document.getElementById('nextDots');
            const prevNum = document.getElementById('prevNum');
            const nextNum = document.getElementById('nextNum');
            const lastNum = document.getElementById('lastNum');

            if ( totalPage == 1 || Number.isNaN(page) || page > totalPage ) {
                paginationNav.classList.add('d-none');
            }

            if (page <= 1) {
                prevBtn.classList.add('disabled');
                prevBtn.href = '#';
                prevs.forEach(prev => prev.classList.add('d-none'));
            } else if (page === 2) {
                prevDots.classList.add('d-none');
                prevNum.classList.add('d-none');
            } else if (page === 3) {
                prevDots.classList.add('d-none');
            } else if (page === 4) {
                prevDots.innerText = "2"
                prevDots.href = "/superadmin/users?page=2"
            }

            if (page == totalPage) {
                nextBtn.classList.add('disabled');
                nextBtn.href = '#';
                nexts.forEach(next => next.classList.add('d-none'));
                lastNum.innerHTML = "-" + total
                if (( total%10 ) == 1) {
                    lastNum.classList.add('d-none')
                }
            } else if (page === totalPage - 1) {
                nextDots.classList.add('d-none');
                nextNum.classList.add('d-none');
            } else if (page === totalPage - 2) {
                nextDots.classList.add('d-none');
            } else if (page === totalPage - 3) {
                nextDots.innerText = totalPage -1
                nextDots.href = "/superadmin/users?page=<%= +pagination.page +2 %>"
            }
            // xxx

            function changeInfo(type) {
                const tabs = document.querySelectorAll('.view-tab');
                tabs.forEach(tab => {
                    tab.classList.remove('active');
                })
                document.querySelector(`.${type}-tab`).classList.add('active');

                const containers = document.querySelectorAll('.view-containers');
                containers.forEach(container => {
                    container.classList.add('d-none');
                })
                document.getElementById(`${type}-view`).classList.remove('d-none');
            }

            function generatePassowrd() {
                const password = Math.random().toString(36).slice(-8);
                document.getElementById('userPassword').value = password;
            }

            const errorType = searchParams.get('type')
            if (errorType == 'user-create' || errorType == 'dup-email') {

                const tabs = document.querySelectorAll('.view-tab');
                tabs.forEach(tab => {
                    tab.classList.remove('active');
                })
                document.querySelector(`.users-tab`).classList.add('active');

                const containers = document.querySelectorAll('.view-containers');
                containers.forEach(container => {
                    container.classList.add('d-none');
                })
                document.getElementById(`users-view`).classList.remove('d-none');
            }

            // Tooltips
            const icons = document.querySelectorAll('.usericons')
            icons.forEach (icon => {
                const tooltipColor = icon.getAttribute('data-tooltip-color')
                icon.addEventListener('mouseover', changeColor);

                function changeColor() {
                    icon.style.setProperty('--tooltip-color', tooltipColor);
                }
            })  

        </script>
        <div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addUserModalLabel">Add New User</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                            <form id="addUserForm"  action="/superadmin/organizations/adduser/<%= org.id %>?orgPage=<%= orgPage %>&userPage=<%= pagination.page %>&totalPage=<%= pagination.totalPage %>&pageSize=<%= pagination.pageSize %>&total=<%= pagination.total %>&status=<%= status %>" method="POST" onsubmit="submitForm(event)">
                            <div class="mb-3">
                                <label for="userName" class="form-label">User Name</label>
                                <input type="text" class="form-control" maxlength="100" name="name" id="userName"
                                    placeholder="Enter User name" value="" oninput="checkInputs('nameUserError', 'userName')" required>
								<p id="nameUserError" class="mt-2 d-none text-danger">*Username can't exceed 100 characters!</p>
                            </div>

							<div class="mb-3">
                                <label for="userEmail" class="form-label">Email</label>
                                <input type="email" class="form-control" maxlength="45" name="email" id="userEmail"
                                    placeholder="Enter User Email" value=""  oninput="checkInputs('emailUserError', 'userEmail')" required>
								<p id="emailUserError" class="mt-2 d-none text-danger">*Email can't exceed 45 characters!</p>
                            </div>

                            <div class="mb-3">
                                <label for="userPassword" class="form-label">Password</label>
                                <input type="password" class="form-control" name="password" id="userPassword" placeholder=""
                                    value="" readonly required>
								<input type="checkbox" class="me-2 mt-3" id="checkbox" onchange="showPassword(this)"><label for="checkbox">Show Password</label>
                            </div>

                            <div class="mb-3">
                                <label for="userPhone" class="form-label">Phone</label>
                                <input type="tel" class="form-control" maxlength="45" name="phone" id="userPhone"
                                    placeholder="Enter User Phone" value="" oninput="checkInputs('phoneUserError', 'userPhone')" required>
								<p id="phoneUserError" class="mt-2 d-none text-danger">*Phone can't exceed 45 characters!</p>
                            </div>
                            

                            <div class="mb-3">
                                <label for="userRole" class="form-label">Role</label>
                                <select id="userRole" name="role" class="form-select" required>
                                    <% roles.forEach(role=> { %>
                                        <option value="<%= role.name %>">
                                            <%= role.name.charAt(0).toUpperCase() + role.name.slice(1).toLowerCase() %>
                                        </option>
                                        <% }); %>
                                </select>
                            </div>
                            <button type="submit" id="addBtn" class="btn btn-primary w-100">Add New User</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script>
            const form = document.getElementById('addUserForm');
            const addButton = document.getElementById('addBtn');
            const inputs = form.querySelectorAll('.form-control[required]:not([readonly])');
			const userPassword = document.getElementById('userPassword')
			
			function showPassword(checkbox) {
				if (checkbox.checked) {
			        userPassword.type = 'text';
			    } else {
			        userPassword.type = 'password';
			    }
			}

            function checkInputs(messageBox, inputField) {
                let allFilled = true;
                inputs.forEach(index => {
                if (!index.value.trim()) {
                    allFilled = false;
                }
                });
                addButton.disabled = !allFilled;
				const message = document.getElementById(messageBox)
				const input = document.getElementById(inputField)
				if (input.value.length === parseInt(input.maxLength)) {
			        message.classList.remove('d-none');
			    } else {
			        message.classList.add('d-none');
			    }
            }

            function submitForm(event) {
			    addButton.disabled = true;
			    addButton.textContent = 'Submitting...';
			}

        </script>
        <%- include('../partials/superadmin/footer.ejs') %>