<%- include('../partials/superadmin/header.ejs') %>
    <%- include('../partials/superadmin/navbar.ejs') %>

            <div class="container my-5">

                <!-- Error type စစ်ရန် -->
                <% if (errorMessage) { %>
                    <div id="errorBox" class="alert alert-danger" role="alert">
                        <%= errorMessage %>
                    </div>
                <% } %>
                <!-- xxx -->

                <!-- Superadmin Details Form -->
                <form id="detail-view" class="mb-4  view-containers">
                    <h3 class="my-4">User Details</h3>
                    <div class="mb-3">
                        <label for="userName" class="form-label">User Name</label>
                        <input type="text" class="form-control" name="name" id="userName"
                            placeholder="Enter user name" value="<%= user.name %>" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="orgName" class="form-label">Organization Name</label>
                        <input type="text" class="form-control" name="org" id="orgName"
                            placeholder="Enter organization name" value="<%= user.orgName %>" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="userRole" class="form-label">User Role</label>
                        <input type="text" class="form-control" name="role" id="userRole"
                            placeholder="Enter user role" value="<%= user.role.charAt(0).toUpperCase() + user.role.slice(1).toLowerCase() %>" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email Address</label>
                        <input type="email" class="form-control" name="email" id="email"
                            placeholder="Enter email address" value="<%= user.email %>" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="userPhone" class="form-label">Phone</label>
                        <input type="tel" class="form-control" id="userPhone" name="phone"
                            placeholder="Enter phone number" value="<%= user.phone %>" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="userStatus" class="form-label">Status</label>
                        <select id="userStatus" name="status" class="form-select" disabled>
                            <% options.forEach(option=> { %>
                                <option value="<%= option.name %>" <%=option.name===user.status
                                    ? 'selected' : '' %> >
                                    <%= option.name.toUpperCase() %>
                                </option>
                            <% }); %>
                        </select>
                    </div>
                    <a onclick="Back()" href="#" class="btn btn-primary w-100 mt-1">Back to
                        Organization detail</a>
                </form>
                <p>The last updated by <strong id="updatedBy"><%= user.superadminName %></strong> at <span id="updatedAt"
                    class="fw-bold">
                    <%= new Date(user.updatedAt).toString().split('GMT')[0]; %>
                    </span>
                </p>
            </div>
            <script>
                // Click Btns
                let url = new URL(window.location.href);
                const orgId = '<%= user.orgId %>'
                let orgName = url.searchParams.get( 'orgName' )
                let orgStatus = url.searchParams.get( 'orgStatus' )
                let orgPage = url.searchParams.get( 'orgPage' )
                let expired = url.searchParams.get( 'expired' )
                let query = "?"
                
                if (orgPage) {
                    query += "orgPage=" + orgPage
                } else {
                    query += "orgPage=1"
                }

                if (orgName) {
                    query += "&orgName=" + orgName
                }

                if (orgStatus) {
                    query += "&orgStatus=" + orgStatus
                }

                if (expired) {
                    query += "&expired=" + expired
                }

                let userName = url.searchParams.get( 'userName' )
                let userStatus = url.searchParams.get( 'userStatus' )
                let userPage = url.searchParams.get( 'userPage' )
                let userRole = url.searchParams.get( 'userRole' )
                let userQuery = "&"
                
                if (userPage) {
                    userQuery += "userPage=" + userPage
                   } else {
                    userQuery += "userPage=1"
                }

                if (userName) {
                    userQuery += "&userName=" + userName
                }

                if (userStatus) {
                    userQuery += "&userStatus=" + userStatus
                }

                if (userRole) {
                    userQuery += "&userRole=" + userRole
                }

                function Back() {
                    window.location.href = "/superadmin/organizations/detail/" + orgId + query + userQuery + '&activeUsers=true' 
                }

            </script>
        </main>
        <%- include('../partials/superadmin/footer.ejs') %>