<%- include('../partials/superadmin/header.ejs') %>
    <%- include('../partials/superadmin/navbar.ejs') %>

        <!-- Main Content -->
        <main class="col-md-9 col-lg-10">
            <div class="container my-5">
                <h2 class="mb-4">Update User's Details</h2>

                <% if (successMessage) { %>
                <div id="successBox" class="alert alert-success" role="alert">
                    <%= successMessage %>
                </div>
                <% } %>
                <% if (errorMessage) { %>
                    <div id="successBox" class="alert alert-danger" role="alert">
                        <%= errorMessage %>
                    </div>
                    <% } %>
                <!-- user Details Form -->
                <form class="mb-4" method="POST" id="myForm">
                    <div class="mb-3">
                        <label for="userName" class="form-label">Username</label>
                        <input type="text" class="form-control" maxlength="100" name="name" id="userName"
                            placeholder="Enter username" value="<%= user.name %>" required>
						<p id="messageBox" class="mt-2 d-none text-danger">*Username can't exceed 100 characters!</p>
                    </div>
                    <div class="mb-3">
                      <label for="orgName" class="form-label">Organization Name</label>
                      <input type="text" class="form-control" name="orgName" id="orgName"
                          placeholder="Enter organization name" value="<%= user.orgName %>" disabled>
                    </div>
					          <div class="mb-3">
                        <label for="userRole" class="form-label">Role</label>
                        <select id="userRole" name="role" class="form-select" required>

                            <% roles.forEach(role=> { %>
                                <option value="<%= role.name %>" <%=role.name===user.role ? 'selected' : '' %> >
                                    <%= role.name %>
                                </option>
                                <% }); %>
                        </select>
                    </div>
					          <div class="mb-3">
                        <label for="userEmail" class="form-label">Email Address</label>
                        <input type="email" class="form-control" maxlength="45" name="email" id="userEmail"
                            placeholder="Enter email address" value="<%= user.email %>" required>
						<p id="messageBox" class="mt-2 d-none text-danger">*Email Address can't exceed 45 characters!</p>
                    </div>
                    <div class="mb-3">
                        <label for="userPhone" class="form-label">Phone</label>
                        <input type="tel" class="form-control" maxlength="45" id="userPhone" name="phone"
                            placeholder="Enter phone number" value="<%= user.phone %>" required>
						<p id="messageBox" class="mt-2 d-none text-danger">*Phone can't exceed 45 characters!</p>
                    </div>
                    <div class="mb-3">
                        <label for="userStatus" class="form-label">Status</label>
                        <select id="userStatus" name="status" class="form-select" required>

                            <% options.forEach(option=> { %>
                                <option value="<%= option.name %>" <%=option.name===user.status ? 'selected' : '' %> >
                                    <%= option.name.toUpperCase() %>
                                </option>
                                <% }); %>
                        </select>
                    </div>
                    <button type="submit" id="addBtn" class="btn btn-success w-100 mb-2">Update</button>
                    <a href="/superadmin/organizations/detail/<%= user.orgId %>?activeUsers=true" id="resetBtn"	class="btn  w-100"></a>
					<div>
                        <p class="my-2">Registered Date: <span id="currentRegisteredDate"
                                class="fw-bold"></span>
                            <%= new Date(user.registered).toDateString() %>
                        </p>
                        <p class="">Current Expiration Date: <span id="currentExpirationDate"
                                class="fw-bold"></span>
                            <%= new Date(user.expired).toDateString() %>
                        </p>
                    </div>
                </form>
            </div>
			<script>
				function buttonType() {
	                const searchParams = new URLSearchParams(window.location.search);
	                const type = searchParams.get('type')
					const resetBtn = document.getElementById("resetBtn")
	                if (type == 'update') {
						resetBtn.innerText = "Back"
						resetBtn.classList.add("btn-primary")
	                }
					else {
						resetBtn.innerText = "Cancel"
						resetBtn.classList.add("btn-danger")
					}

	            }

	            buttonType();
                
                const form = document.getElementById('myForm');
                const addButton = document.getElementById('addBtn');
                const inputs = form.querySelectorAll('.form-control[required]:not([readonly])');

                function checkInputs() {
                    let allFilled = true;
                    inputs.forEach(input => {
                    if (!input.value.trim()) {
                        allFilled = false;
                    }
                    });
                    addButton.disabled = !allFilled;
                }

                inputs.forEach(input => {
                    input.addEventListener('input', checkInputs);
                });

                form.addEventListener('submit', function (event) {
                    addButton.disabled = true;
                    addButton.textContent = 'Submitting...';
                });

				const messageBox = document.querySelectorAll('#messageBox')

				inputs.forEach((input, index) => {
				    const message = messageBox[index];
				    input.addEventListener('input', () => {
				      if (input.value.length === parseInt(input.maxLength)) {
				        message.classList.remove('d-none');
				      } else {
				        message.classList.add('d-none');
				      }
				    });
				});
                checkInputs();
			</script>
        </main>

        <%- include('../partials/superadmin/footer.ejs') %>