<%- include('../partials/superadmin/header.ejs') %>
    <%- include('../partials/superadmin/navbar.ejs') %>

        <!-- Main Content -->
        <main class="col-md-9 col-lg-10">
            <div class="container my-5">
                <h2 class="mb-4">Update Organization</h2>

                <% if (successMessage) { %>
                <div id="successBox" class="alert alert-success" role="alert">
                    <%= successMessage %>
                </div>
                <% } %>
                <!-- Organization Details Form -->
                <form class="mb-4" method="POST">
                    <div class="mb-3">
                        <label for="orgName" class="form-label">Organization Name</label>
                        <input type="text" class="form-control" name="name" id="orgName"
                            placeholder="Enter organization name" value="<%= org.name %>" required>
                    </div>
                    <div class="mb-3">
                        <label for="orgAddress" class="form-label">Address</label>
                        <textarea class="form-control" id="orgAddress" name="address" rows="2"
                            placeholder="Enter organization address" required><%= org.address %></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="orgPhone" class="form-label">Phone</label>
                        <input type="tel" class="form-control" id="orgPhone" name="phone"
                            placeholder="Enter phone number" value="<%= org.phone %>" required>
                    </div>
                    <div class="mb-3">
                        <label for="orgStatus" class="form-label">Status</label>
                        <select id="orgStatus" name="status" class="form-select" required>

                            <% options.forEach(option=> { %>
                                <option value="<%= option.name %>" <%=option.name===org.status ? 'selected' : '' %> >
                                    <%= option.name.toUpperCase() %>
                                </option>
                                <% }); %>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success w-100 mb-2">Update Organization</button>
                    <a href="/superadmin/organizations" class="btn btn-danger w-100">Cancel</a>

                </form>

                <!-- License Extension -->
                <div>
                    <h4>License Extension</h4>
                    <p>Extend the organization's license expiration date:</p>
                    <div class="d-flex gap-2">
                        <a href="/superadmin/organizations/license/<%= org.id %>?num=-1&type=month" class="btn btn-outline-secondary">-1 Months</a>
                        <a href="/superadmin/organizations/license/<%= org.id %>?num=-7&type=day" class="btn btn-outline-secondary">-7 Days</a>
                        <a href="/superadmin/organizations/license/<%= org.id %>?num=-1&type=day" class="btn btn-outline-secondary">-1 Day</a>
                        <a href="/superadmin/organizations/license/<%= org.id %>?num=1&type=day" class="btn btn-outline-secondary">+1 Day</a>
                        <a href="/superadmin/organizations/license/<%= org.id %>?num=7&type=day" class="btn btn-outline-secondary">+7 Days</a>
                        <a href="/superadmin/organizations/license/<%= org.id %>?num=1&type=month" class="btn btn-outline-secondary">+1 Months</a>
                    </div>
                    <p class="mt-3">Current Expiration Date: <span id="currentExpirationDate" class="fw-bold"></span>
                            <%= new Date(org.expiredDate).toDateString() %>
                        </span></p>
                </div>
            </div>
        </main>

        <%- include('../partials/superadmin/footer.ejs') %>