<%- include('../partials/superadmin/header.ejs') %>
    <%- include('../partials/superadmin/navbar.ejs') %>

        <!-- Main Content -->
        <main class="col-md-9 col-lg-10">
            <div class="container my-5">
                <h2 class="mb-4">Update Organization</h2>

				<% if (errorMessage) { %>
                    <div id="errorBox" class="alert alert-danger" role="alert">
                        <%= errorMessage %>
                    </div>
                    <% } %>
                <% if (successMessage) { %>
                <div id="successBox" class="alert alert-success" role="alert">
                    <%= successMessage %>
                </div>
                <% } %>
                <!-- Organization Details Form -->
                <form class="mb-4" method="POST" id="myForm">
                    <div class="mb-3">
                        <label for="orgName" class="form-label">Organization Name</label>
                        <input type="text" class="form-control" maxlength="145" name="name" id="orgName"
                            placeholder="Enter organization name" value="<%= org.name %>" required>
						<p id="messageBox" class="mt-2 d-none text-danger">*Organization Name can't exceed 145 characters!</p>
                    </div>
                    <div class="mb-3">
                        <label for="orgAddress" class="form-label">Address</label>
                        <textarea class="form-control" id="orgAddress" maxlength="145" name="address" rows="2"
                            placeholder="Enter organization address" required><%= org.address %></textarea>
						<p id="messageBox" class="mt-2 d-none text-danger">*Address can't exceed 145 characters!</p>
                    </div>
                    <div class="mb-3">
                        <label for="orgPhone" class="form-label">Phone</label>
                        <input type="tel" class="form-control" maxlength="45" id="orgPhone" name="phone"
                            placeholder="Enter phone number" value="<%= org.phone %>" required>
						<p id="messageBox" class="mt-2 d-none text-danger">*Phone can't exceed 45 characters!</p>
                    </div>
                    <div class="mb-3">
                        <label for="orgStatus" class="form-label">Status</label>
                        <select id="orgStatus" name="status" class="form-select" required>

                            <% options.forEach(option=> { %>
                                <option value="<%= option.name %>" <%=option.name===org.status ? 'selected' : '' %> >
                                    <%= option.name.toUpperCase() %>
                                </option>
                                <% }); %>
                        </select>
                    </div>
                    <button type="submit" id="addBtn" class="btn btn-success w-100 mb-2">Update Organization</button>
                    <a href="/superadmin/organizations?page=<%= page %>" class="btn w-100" id="resetBtn"></a>

                </form>

                <!-- License Extension -->
                <div>
                    <h4>License Extension</h4>
                    <p>Extend the organization's license expiration date:</p>
                    <div class="d-flex gap-2" id="license-buttons">
						<a href="" class="btn btn-outline-secondary" onclick="expireNow()" id="expireNowBtn">Expire Now</a>
						<a href="/superadmin/organizations/license/<%= org.id %>?num=-1&type=month&page=<%= page %>" class="btn btn-outline-secondary reduceLicense" data-type="month" data-num="-1">-1 Months</a>
						<a href="/superadmin/organizations/license/<%= org.id %>?num=-7&type=day&page=<%= page %>" class="btn btn-outline-secondary reduceLicense" data-type="day" data-num="-7">-7 Days</a>
						<a href="/superadmin/organizations/license/<%= org.id %>?num=-1&type=day&page=<%= page %>" class="btn btn-outline-secondary reduceLicense" data-type="day" data-num="-1">-1 Day</a>
						<a href="/superadmin/organizations/license/<%= org.id %>?num=1&type=day&page=<%= page %>" class="btn btn-outline-secondary" data-type="day" data-num="1">+1 Day</a>
						<a href="/superadmin/organizations/license/<%= org.id %>?num=7&type=day&page=<%= page %>" class="btn btn-outline-secondary" data-type="day" data-num="7">+7 Days</a>
						<a href="/superadmin/organizations/license/<%= org.id %>?num=1&type=month&page=<%= page %>" class="btn btn-outline-secondary" data-type="month" data-num="1">+1 Months</a>
					</div>
                    <p class="mt-3">Current Expiration Date: <span id="currentExpirationDate" class="fw-bold"></span>
                            <%= new Date(org.expiredDate).toDateString() %>
                        </span></p>
                </div>
            </div>
			<script>
				const orgExpiredDate = new Date("<%= org.expiredDate %>");
			    const today = new Date();

				function expireNow() {
					const expireNowBtn = document.getElementById("expireNowBtn");
					const timeDifference = orgExpiredDate - today;
					const expireDays = (Math.ceil(timeDifference / (1000 * 60 * 60 * 24)));
					const userConfirmed = confirm(`The license will expire now. Do you want to proceed?`);

				    if (userConfirmed) {
				        expireNowBtn.setAttribute('href', `/superadmin/organizations/license/<%= org.id %>?num=-${expireDays}&type=day&page=<%= page %>`);
				    }
				}

				function buttonType() {
	                const searchParams = new URLSearchParams(window.location.search);
	                const type = searchParams.get('type')
					const resetBtn = document.getElementById("resetBtn")
	                if (type == 'update'  || type == "extendLicense" || type == "reduceLicense") {
						resetBtn.innerText = "Back"
						resetBtn.classList.add("btn-primary")
	                }
					else {
						resetBtn.innerText = "Cancel"
						resetBtn.classList.add("btn-danger")
					}

	            }
	            buttonType();

                const form = document.getElementById('myForm');
                const addButton = document.getElementById('addBtn');
                const inputs = form.querySelectorAll('.form-control[required]:not([readonly])');

                function checkInputs() {
                    let allFilled = true;
                    inputs.forEach(input => {
                    if (!input.value.trim()) {
                        allFilled = false;
                    }
                    });
                    addButton.disabled = !allFilled;
                }

                inputs.forEach(input => {
                    input.addEventListener('input', checkInputs);
                });

                form.addEventListener('submit', function (event) {
                    addButton.disabled = true;
                    addButton.textContent = 'Submitting...';
                });


				

			    document.querySelectorAll('.reduceLicense').forEach(button => {
			        const num = parseInt(button.dataset.num);
			        const type = button.dataset.type;
			        let newExpiry = new Date(orgExpiredDate);

			        if (type === 'month') {
			            newExpiry.setMonth(newExpiry.getMonth() + num);
			        } else if (type === 'day') {
			            newExpiry.setDate(newExpiry.getDate() + num);
			        }

			        if (newExpiry <= today) {
			            button.classList.add('d-none');
			            button.setAttribute('d-none', true);
			        }
			    });
				const messageBox = document.querySelectorAll('#messageBox')

				inputs.forEach((input, index) => {
				    const message = messageBox[index];
				    input.addEventListener('input', () => {
				      if (input.value.length === parseInt(input.maxLength)) {
				        message.classList.remove('d-none');
				      } else {
				        message.classList.add('d-none');
				      }
				    });
				});
                checkInputs();
			</script>
        </main>

        <%- include('../partials/superadmin/footer.ejs') %>