<%- include('../partials/superadmin/header.ejs') %>
    <%- include('../partials/superadmin/navbar.ejs') %>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

            <div class="container my-3">
                <h2 class="mb-4">Update Organization</h2>

				<% if (errorMessage) { %>
                    <div id="errorBox" class="alert alert-danger" role="alert">
                        <%= errorMessage %>
                    </div>
                    <% } %>
                <% if (successMessage) { %>
                <div id="successBox" class="alert alert-success" role="alert">
                    <%= successMessage %>
                </div>
                <% } %>
                <!-- Organization Details Form -->
                <form class="mb-4" method="POST" id="myForm" onsubmit="submitForm(event)">
                    <div class="mb-3">
                        <label for="orgName" class="form-label">Organization Name</label>
                        <input type="text" class="form-control" maxlength="145" name="name" id="orgName"
                            placeholder="Enter organization name" value="<%= org.name %>" oninput="checkInputs('nameOrgError', 'orgName')" required>
						<p id="nameOrgError" class="mt-2 d-none text-danger">*Organization Name can't exceed 145 characters!</p>
                    </div>
                    <div class="mb-3">
                        <label for="orgAddress" class="form-label">Address</label>
                        <textarea class="form-control" id="orgAddress" maxlength="145" name="address" rows="2"
                            placeholder="Enter organization address" oninput="checkInputs('addressOrgError', 'orgAddress')" required><%= org.address %></textarea>
						<p id="addressOrgError" class="mt-2 d-none text-danger">*Address can't exceed 145 characters!</p>
                    </div>
                    <div class="mb-3">
                        <label for="orgPhone" class="form-label">Phone</label>
                        <input type="tel" class="form-control" maxlength="45" id="orgPhone" name="phone"
                            placeholder="Enter phone number" value="<%= org.phone %>" oninput="checkInputs('phoneOrgError', 'orgPhone')" required>
						<p id="phoneOrgError" class="mt-2 d-none text-danger">*Phone can't exceed 45 characters!</p>
                    </div>
                    <div class="mb-3">
                        <label for="orgStatus" class="form-label">Status</label>
                        <select id="orgStatus" name="status" class="form-select" oninput="checkInputs()" required>

                            <% options.forEach(option=> { %>
                                <option value="<%= option.name %>" <%=option.name===org.status ? 'selected' : '' %> >
                                    <%= option.name.toUpperCase() %>
                                </option>
                                <% }); %>
                        </select>
                    </div>
                    <button onclick="clickBtn()" type="submit" id="updateBtn" class="btn btn-success w-100 mb-2">Update Organization</button>
										<a onclick="Back()" id="resetBtn" class="btn btn-primary w-100 mb-2">Back to organizations</a>
                </form>

                <!-- License Extension -->
                <div>
									<h4>License Extension</h4>
									<p>Extend the organization's license expiration date:</p>
									<div class="d-flex gap-2" id="license-buttons">
										<a href="" class="btn btn-outline-secondary reduceLicense" onclick="extLicense()" id="expireNowBtn" data-bs-toggle="modal"
										data-bs-target="#confirmationModal">Expire Now</a>
										<a href="" class="btn btn-outline-secondary reduceLicense" onclick="extLicense('month',-1)" id="expireNowBtn" data-bs-toggle="modal"
										data-bs-target="#confirmationModal" data-type="month" data-num="-1">-1 Month</a>
										<a href="" class="btn btn-outline-secondary reduceLicense" onclick="extLicense('day',-7)" id="expireNowBtn" data-bs-toggle="modal"
										data-bs-target="#confirmationModal" data-type="day" data-num="-7">-7 Days</a>
										<a href="" class="btn btn-outline-secondary reduceLicense" onclick="extLicense('day',-1)" id="expireNowBtn" data-bs-toggle="modal"
										data-bs-target="#confirmationModal" data-type="day" data-num="-1">-1 Day</a>
										<a href="" class="btn btn-outline-secondary" onclick="extLicense('day',1)" id="expireNowBtn" data-bs-toggle="modal"
										data-bs-target="#confirmationModal" data-type="day" data-num="-1">+1 Day</a>
										<a href="" class="btn btn-outline-secondary" onclick="extLicense('day',7)" id="expireNowBtn" data-bs-toggle="modal"
										data-bs-target="#confirmationModal" data-type="day" data-num="7">+7 Days</a>
										<a href="" class="btn btn-outline-secondary" onclick="extLicense('month',1)" id="expireNowBtn" data-bs-toggle="modal"
										data-bs-target="#confirmationModal" data-type="month" data-num="1">+1 Months</a>
									</div>
									<div class="mt-3">
										<p>The last updated by <strong id="updatedBy"><%= org.userName %></strong> at <span id="updatedAt"
												class="fw-bold">
												<%= new Date(org.updatedAt).toString().split('GMT')[0]; %>
												</span>
										</p>
										<p>Current Expiration Date : <span id="currentExpirationDate"
														class="fw-bold mx-2">
												<%= new Date(org.expiredDate).toDateString() %>
														</span>
										</p>
								</div>
                </div>
				<!-- Modal HTML -->
				<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<p>The license will be <span id="licType">expired <strong>now</strong></span>. Do you want to proceed?</p>
								<p>Current Expiration Date: <span class="fw-bold">
									<%= new Date(org.expiredDate).toDateString() %>
								</span></p>

								<p>New Expiration Date: <span id="newExpirationDate" class="fw-bold"></span></p>

							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
								<button type="button" class="btn btn-primary" id="confirmBtn">Confirm</button>
							</div>
						</div>
					</div>
				</div>
            </div>
			<script>
				const orgExpiredDate = new Date("<%= org.expiredDate %>");
			  const today = new Date();
				document.querySelectorAll('.reduceLicense').forEach(button => {
					const num = parseInt(button.dataset.num);
					const type = button.dataset.type;
					let newExpiry = new Date(orgExpiredDate);

					if (type === 'month') {
							newExpiry.setMonth(newExpiry.getMonth() + num);
					} else if (type === 'day') {
							newExpiry.setDate(newExpiry.getDate() + num);
					}

					if (newExpiry <= today) {
							button.classList.add('d-none');
							button.setAttribute('d-none', true);
					}
				});
				// xxx

				function buttonType() {
					const searchParams = new URLSearchParams(window.location.search);
					const type = searchParams.get('type')
					const resetBtn = document.getElementById("resetBtn")
					if (type == 'update'  || type == "extendLicense" || type == "reduceLicense") {
						resetBtn.innerText = "Back"
						resetBtn.classList.add("btn-primary")
	        } else {
						resetBtn.innerText = "Cancel"
						resetBtn.classList.add("btn-danger")
					}
				}
	      buttonType();

				const orgOldName = "<%= org.name %>"
				const orgOldAddress = "<%= org.address %>"
				const orgOldPhone = "<%= org.phone %>"
				const orgOldStatus = "<%= org.status %>"

        const updateBtn = document.getElementById('updateBtn');
				const form = document.getElementById('myForm');
				const inputs = form.querySelectorAll('.form-control[required]:not([readonly])');

				function checkInputs(messageBox, inputField) {

					const orgNameValue = document.getElementById('orgName').value
					const orgAddressValue = document.getElementById('orgAddress').value
					const orgPhoneValue = document.getElementById('orgPhone').value
					const orgStatusValue = document.getElementById('orgStatus').value
					
					if ( (orgOldName === orgNameValue) && (orgOldAddress === orgAddressValue) && (orgOldPhone === orgPhoneValue) && (orgOldStatus === orgStatusValue) ) {
						updateBtn.classList.add('disabled')
					} else {
						updateBtn.classList.remove('disabled')
					}

					// xxx
					let allFilled = true;
					inputs.forEach(index => {
						if (!index.value.trim()) {
								allFilled = false;
						}
					});
          updateBtn.disabled = !allFilled;
					const message = document.getElementById(messageBox)
					const input = document.getElementById(inputField)
					if (input.value.length === parseInt(input.maxLength)) {
				        message.classList.remove('d-none');
					} else {
							message.classList.add('d-none');
					}
				}

				checkInputs();

				function submitForm(event) {
					updateBtn.disabled = true;
					updateBtn.textContent = 'Submitting...';
				}

				// Click Btns
				let url = new URL(window.location.href);
				let orgName = url.searchParams.get( 'orgName' )
				let orgStatus = url.searchParams.get( 'orgStatus' )
				let expired = url.searchParams.get( 'expired' )
				let orgPage = url.searchParams.get( 'orgPage' )

				const orgId = "<%= org.id %>"
				let query = "?"
				
				if (orgPage) {
						query += "orgPage=" + orgPage
				} else {
						query += "orgPage=1"
				}

				if (orgName) {
						query += "&orgName=" + orgName
				}

				if (orgStatus) {
						query += "&orgStatus=" + orgStatus
				}

				if (expired) {
						query += "&expired=" + expired
				}

				function clickBtn() {
					window.location.href = "/superadmin/organizations/update/" + orgId + query
				}

				function Back () {
					window.location.href = "/superadmin/organizations" + query
				}

				// License Extension
				function extLicense(type,num) {
					const newExpirationDate = document.getElementById('newExpirationDate')
					const newDate = new Date(orgExpiredDate)
					if (type == 'month') {
						newDate.setMonth(newDate.getMonth() + num);
						newExpirationDate.innerHTML = newDate.toDateString()
					} else if (type == 'day') {
						newDate.setDate(newDate.getDate() + num);
						newExpirationDate.innerHTML = newDate.toDateString()
					} else {
						newExpirationDate.innerHTML = 'Now'
					}

					const licType = document.getElementById('licType')
					if (num > 0) {
						licType.innerHTML = 'extended'
					} else if (num < 0) {
						licType.innerHTML = 'reduced'
					}

					const confirmBtn = document.getElementById('confirmBtn')

					confirmBtn.onclick = () => {
						if (!type && !num) {
							const expireDays = Math.ceil(orgExpiredDate/ (1000 * 60 * 60 * 24)) - Math.ceil(today/ (1000 * 60 * 60 * 24));
							const newHref = `/superadmin/organizations/license/<%= org.id %>?num=-${expireDays}&type=day` + '&' + query.slice(1);
		          window.location.href = newHref; 
						} else {
							const newURL = 'http://localhost:3000/superadmin/organizations/license/' + orgId + '?num=' + num + '&type=' + type + '&' + query.slice(1);
							window.location.href = newURL; 
						}
					}
				}

			</script>
        </main>

        <%- include('../partials/superadmin/footer.ejs') %>