<%- include('../partials/superadmin/header.ejs') %>
    <%- include('../partials/superadmin/navbar.ejs') %>


        <!-- Main Content -->
        <main class="col-md-9 col-lg-10">
            <div class="content">

                <% if (errorMessage) { %>
                    <div id="errorBox" class="alert alert-danger" role="alert">
                        <%= errorMessage %>
                    </div>
                    <% } %>
					<% if (successMessage) { %>
                        <div id="successBox" class="alert alert-success" role="alert">
                            <%= successMessage %>
                        </div>
                        <% } %>
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <h2>Organizations</h2>
                            <button class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#addOrganizationModal">
                                Add New Organization
                            </button>
                        </div>
                        <!-- xxx -->
                        <nav class="mb-4 d-flex w-100 justify-content-between">
                            <form class="d-flex searchBar" role="search">
                                <input class="form-control me-2" type="search" id="searchValue" placeholder="Enter username (or) email address" aria-label="Search" required>
                                <button class="btn btn-primary" id="searchBtn" type="submit">Search</button>
                            </form>
                            <div class="d-flex">
                                <div style="margin-top: 7px;">
                                    <span style="font-weight: 500;">Show expired</span>
                                    <input style="transform: scale(1.2)" class="mx-2" type="checkbox" id="expiredCheckbox">
                                </div>
                                <div class="btn-group mx-2">
                                    <button type="button" class="btn dropdown-toggle sortBtn" data-bs-toggle="dropdown" aria-expanded="false">
                                        Expired in
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <a class="dropdown-item dropdown-active" href="#">this month</a>
                                        <a class="dropdown-item" href="#">last 30 days</a>
                                        <a class="dropdown-item" href="#">last month</a>
                                        <a class="dropdown-item" href="#">next 30 days</a>
                                        <a class="dropdown-item" href="#">next month</a>
                                    </ul>
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn dropdown-toggle sortBtn" data-bs-toggle="dropdown" aria-expanded="false">
                                        Filter
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <a class="dropdown-item dropdown-active" href="#">All</a>
                                        <a class="dropdown-item" href="#">Active</a>
                                        <a class="dropdown-item" href="#">Inactive</a>
                                        <a class="dropdown-item" href="#">Pending</a>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                        <!-- xxx -->

                        <!-- Organizations Table -->
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead class="table-dark">
                                    <tr>
                                        <th>#</th>
                                        <th>Organization Name</th>
                                        <th>Expiration Date</th>
                                        <th class="text-center">Status</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody id="organizationsTable">
                                    <!-- Dynamic rows go here -->
                                    <% for (let i=0; i < orgs.length; i++) { %>
                                        <tr>
                                            <td>
                                                <%= i + (parseInt(pagination.page) - 1)*10 + 1 %>
                                            </td>
                                            <td>
												<%= orgs[i].name.length > 50 
						                        ? orgs[i].name.substring(0, 50) + "..." 
						                        : orgs[i].name %>
                                            </td>
                                            <td>
                                                <%= new Date(orgs[i].expiredDate).toDateString() %>
                                            </td>
                                            <td class="text-center">
                                                <% if (orgs[i].status == 'active' ) { %>
                                                    <i class="fa-solid fa-circle-check" style="color: green; font-size: 1.1rem;"></i>
                                                <% } else if (orgs[i].status == 'deleted' ) { %>
                                                    <i class="fa-solid fa-circle-minus" style="color: red; font-size: 1.1rem;"></i>
                                                <% } else { %>
                                                    <i class="fa-solid fa-circle-exclamation" style="color: orange; font-size: 1.1rem;"></i>
                                                <% } %>
                                            </td>
                                            <td style="padding-left: 5%;">
                                                <a href="/superadmin/organizations/detail/<%= orgs[i].id %>?orgPage=<%= pagination.page %>&userPage=1"
                                                    class="btn btn-primary btn-sm">View</a>
                                                <a href="/superadmin/organizations/update/<%= orgs[i].id %>?page=<%= pagination.page %>"
                                                    class="btn btn-warning btn-sm">Edit</a>

                                                <% if (orgs[i].status=='deleted' ) { %>
                                                    <a href="/superadmin/organizations/restore/<%= orgs[i].id %>?page=<%= pagination.page %>"
                                                        class="btn btn-danger btn-sm">Restore</a>
                                                    <% } else {%>
                                                        <a href="/superadmin/organizations/delete/<%= orgs[i].id %>?page=<%= pagination.page %>"
                                                            class="btn btn-danger btn-sm">Delete</a>
                                                        <% } %>
                                            </td>
                                        </tr>
                                        <% } %>
                                </tbody>
                            </table>
                        </div>
                        <nav aria-label="..." id="paginationNav">
                            <div class="d-flex justify-content-center">
                                <p> <%= (parseInt(pagination.page) - 1)*10 + 1 %><span id="lastNum">-<%= parseInt(pagination.page) *10 %></span> / <%= pagination.total %></p>
                            </div>
                            <ul class="pagination d-flex justify-content-center">
                                <li class="page-item">
                                    <a class="page-link" id="prevBtn" href="/superadmin/organizations?page=<%= pagination.page -1 %>" tabindex="-1"><</a>
                                </li>
                                <li class="page-item prev"><a class="page-link" href="/superadmin/organizations?page=1">1</a></li>
                                <li class="page-item prev"><a class="page-link" id="prevDots" href="#">...</a></li>
                                <li class="page-item prev" id="prevNum">
                                    <a class="page-link" href="/superadmin/organizations?page=<%= pagination.page -1 %>"><%= pagination.page -1 %><span class="sr-only"></span></a>
                                </li>
                                <li class="page-item active" id="currentPage">
                                    <a class="page-link" href="#"><%= pagination.page %><span class="sr-only"></span></a>
                                </li>
                                <li class="page-item next" id="nextNum">
                                    <a class="page-link" href="/superadmin/organizations?page=<%= +pagination.page +1 %>"><%= +pagination.page +1 %><span class="sr-only"></span></a>
                                </li>
                                <li class="page-item next"><a class="page-link" id="nextDots" href="#">...</a></li>
                                <li class="page-item next"><a class="page-link" href="/superadmin/organizations?page=<%= pagination.totalPage %>"><%= pagination.totalPage %></a></li>
                                <li class="page-item">
                                    <a class="page-link" id="nextBtn" href="/superadmin/organizations?page=<%= +pagination.page +1 %>">></a>
                                </li>
                            </ul>
                        </nav>
            </div>
        </main>
        <!-- Add Organization Modal -->
        <div class="modal fade" id="addOrganizationModal" tabindex="-1" aria-labelledby="addOrganizationModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addOrganizationModalLabel">Add New Organization</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="addOrganizationForm" action="/superadmin/organization/register?page=<%= pagination.page %>&totalPage=<%= pagination.totalPage %>&pageSize=<%= pagination.pageSize %>&total=<%= pagination.total %>" method="POST" onsubmit="submitForm(event)">
                            <div class="mb-3">
                                <label for="orgName" class="form-label">Organization Name</label>
                                <input type="text" class="form-control" maxlength="145" name="name" id="orgName"
                                    placeholder="Enter organization name" value="" oninput="checkInputs('nameOrgError', 'orgName')" required>
								<p id="nameOrgError" class="mt-2 d-none text-danger">*Organization Name can't exceed 145 characters!</p>
                            </div>
                            <div class="mb-3">
                                <label for="orgAddress" class="form-label">Address</label>
                                <textarea class="form-control" id="orgAddress" maxlength="145" name="address" rows="2"
                                    placeholder="Enter organization address" oninput="checkInputs('addressOrgError', 'orgAddress')" required></textarea>
								<p id="addressOrgError" class="mt-2 d-none text-danger">*Address can't exceed 145 characters!</p>
                            </div>
                            <div class="mb-3">
                                <label for="orgPhone" class="form-label">Phone</label>
                                <input type="tel" class="form-control" maxlength="45" id="orgPhone" name="phone"
                                    placeholder="Enter phone number" value="" oninput="checkInputs('phoneOrgError', 'orgPhone')" required>
								<p id="phoneOrgError" class="mt-2 d-none text-danger">*Phone can't exceed 45 characters!</p>
                            </div>
                            <div class="mb-3">
                                <label for="orgStatus" class="form-label">Status</label>
                                <select id="orgStatus" name="status" class="form-select" required>

                                    <% options.forEach(option=> { %>
                                        <option value="<%= option.name %>">
                                            <%= option.name %>
                                        </option>
                                        <% }); %>
                                </select>
                            </div>
                            <button type="submit" id="addBtn" class="btn btn-primary w-100">Add Organization</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script>
            const form = document.getElementById('addOrganizationForm');
            const addButton = document.getElementById('addBtn');
            const inputs = form.querySelectorAll('.form-control[required]:not([readonly])');

            function checkInputs(messageBox, inputField) {
                let allFilled = true;
                inputs.forEach(index => {
                if (!index.value.trim()) {
                    allFilled = false;
                }
                });
                addButton.disabled = !allFilled;
				const message = document.getElementById(messageBox)
				const input = document.getElementById(inputField)
				if (input.value.length === parseInt(input.maxLength)) {
			        message.classList.remove('d-none');
			    } else {
			        message.classList.add('d-none');
			    }
            }

            function submitForm(event) {
			    addButton.disabled = true;
			    addButton.textContent = 'Submitting...';
			}
            // xxx

            const paginationNav = document.getElementById('paginationNav');
            const page = parseInt("<%= pagination.page %>", 10);
            const totalPage = parseInt("<%= pagination.totalPage %>", 10);
            const total = parseInt("<%= pagination.total %>", 10);
            const prevBtn = document.getElementById('prevBtn');
            const nextBtn = document.getElementById('nextBtn');
            const prevs = document.querySelectorAll('.prev');
            const nexts = document.querySelectorAll('.next');
            const prevDots = document.getElementById('prevDots');
            const nextDots = document.getElementById('nextDots');
            const prevNum = document.getElementById('prevNum');
            const nextNum = document.getElementById('nextNum');
            const lastNum = document.getElementById('lastNum');

            if ( totalPage == 1 || Number.isNaN(page) || page > totalPage ) {
                paginationNav.classList.add('d-none');
            }

            if (page <= 1) {
                prevBtn.classList.add('disabled');
                prevBtn.href = '#';
                prevs.forEach(prev => prev.classList.add('d-none'));
            } else if (page === 2) {
                prevDots.classList.add('d-none');
                prevNum.classList.add('d-none');
            } else if (page === 3) {
                prevDots.classList.add('d-none');
            } else if (page === 4) {
                prevDots.innerText = "2"
                prevDots.href = "/superadmin/users?page=2"
            }

            if (page == totalPage) {
                nextBtn.classList.add('disabled');
                nextBtn.href = '#';
                nexts.forEach(next => next.classList.add('d-none'));
                lastNum.innerHTML = "-" + total
                if (( total%10 ) == 1) {
                    lastNum.classList.add('d-none')
                }
            } else if (page === totalPage - 1) {
                nextDots.classList.add('d-none');
                nextNum.classList.add('d-none');
            } else if (page === totalPage - 2) {
                nextDots.classList.add('d-none');
            } else if (page === totalPage - 3) {
                nextDots.innerText = totalPage -1
                nextDots.href = "/superadmin/users?page=<%= +pagination.page +2 %>"
            }

        </script>
        <%- include('../partials/superadmin/footer.ejs') %>