<%- include('../partials/superadmin/header.ejs') %>
    <%- include('../partials/superadmin/navbar.ejs') %>
			<style>
		        .custom-nav {
		            display: flex;
		            flex-wrap: wrap;
		            align-items: center;
		            gap: 10px;
		        }

		        .search-container {
		            flex-grow: 1;
		            display: flex;
		            min-width: 100%;
		        }

		        .action-container {
		            display: flex;
		            flex-wrap: wrap;
		            align-items: center;
		            gap: 10px;
		            width: 100%;
		            justify-content: space-between;
		        }

		        .btn-group {
		            flex-grow: 1;
		        }

		        @media (max-width: 575.98px) {
		            .custom-nav {
		                flex-direction: column;
		                align-items: stretch;
		            }

		            .search-container,
		            .action-container {
		                width: 100%;
		            }

		            .action-container .btn {
		                flex-grow: 1;
		                margin-bottom: 10px;
		            }
		        }

		        @media (min-width: 576px) and (max-width: 767.98px) {
		            .custom-nav {
		                flex-wrap: wrap;
		            }

		            .search-container {
		                flex-basis: 100%;
		                margin-bottom: 10px;
		            }

		            .action-container {
		                width: 100%;
		                justify-content: center;
		                gap: 15px;
		            }
		        }

		        @media (min-width: 768px) {
		            .custom-nav {
		                flex-wrap: nowrap;
		            }

		            .search-container {
		                min-width: auto;
		                flex-grow: 1;
		                margin-right: 15px;
		            }

		            .action-container {
		                width: auto;
		                gap: 10px;
		            }
		        }

		        .dropdown-menu {
		            min-width: 150px;
		        }
			</style>
            <div class="content">
                <% if (errorMessage) { %>
                    <div id="errorBox" class="alert alert-danger" role="alert">
                        <%= errorMessage %>
                    </div>
                    <% } %>
                        <% if (successMessage) { %>
                            <div id="successBox" class="alert alert-success" role="alert">
                                <%= successMessage %>
                            </div>
                            <% } %>
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <h2>System Admins</h2>
                                    <a class="btn btnColor" onclick="clickBtn('add', 1)" href="#">
                                        Add New
                                    </a>
                                </div>
                                <nav class="nav mb-3 custom-nav">
									<div class="search-container searchBar" role="search">
										<input class="form-control me-2" type="search" id="searchValue" 
											   onkeydown="checkEnter(event)" 
											   placeholder="Enter username (or) email address" 
											   value="<%= name %>" 
											   aria-label="Search" 
											   style="max-width: 350px;"
											   required>
										<button class="btn btnColor" id="searchBtn" onclick="search()">
											<i class="fa-solid fa-magnifying-glass" style="color: #fff;"></i>
										</button>
									</div>
									<div class="action-container">
										<div class="btn-group">
											<button type="button" id="filterBtn" 
													class="btn dropdown-toggle px-3 sortBtn" 
													data-bs-toggle="dropdown" 
													aria-expanded="false">
												Filter
											</button>
											<ul class="dropdown-menu dropdown-menu-end">
												<a class="dropdown-item status dropdown-active" id="all" onclick="changeStatus('all')">All</a>
												<a class="dropdown-item status" id="active" onclick="changeStatus('active')">Active</a>
												<a class="dropdown-item status" id="deleted" onclick="changeStatus('deleted')">Inactive</a>
												<a class="dropdown-item status" id="pending" onclick="changeStatus('pending')">Pending</a>
											</ul>
										</div>
										<button class="btn sortBtn" id="refresh" onclick="reset()">Reset</button>
									</div>
								</nav>
                                <!-- Organizations Table -->
                                <div class="table-responsive">
                                    <% if ( users.length==0 && pagination.page == 1 ) { %>
                                        <div class="alert alert-warning" role="alert">
                                            No user found.
                                        </div>
                                        <% } else {%>
                                    <table class="table table-striped table-hover">
                                        <thead class="table-dark">
                                            <tr>
                                                <th style="min-width: 70px; cursor: pointer;" onclick="sortTable(0, 'number', this)">No.<span></span></th>
                                                <th style="min-width: 60px; cursor: pointer;" onclick="sortTable(1, 'string', this)">Name<span></span></th>
                                                <th>Email</th>
                                                <th>Phone</th>
                                                <th class="text-center">Status</th>
                                                <th class="text-center">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody id="superadminsTable">
                                            <!-- Dynamic rows go here -->
                                            <% for (let i=0; i < users.length; i++) { %>
                                                <tr>
                                                    <td class="text-nowrap ">
                                                        <%= i + (parseInt(pagination.page) - 1)*10 + 1 %>
                                                    </td>

                                                    <td class="text-nowrap ">
														<%= users[i].name.length > 25 
								                        ? users[i].name.substring(0, 22) + "..." 
								                        : users[i].name %>
                                                    </td>
                                                    <td class="text-nowrap ">
														<%= users[i].email.length > 25 
								                        ? users[i].email.substring(0, 22) + "..." 
								                        : users[i].email %>
                                                    </td>
                                                    <td class="text-nowrap ">
														<%= users[i].phone.length > 15 
								                        ? users[i].phone.substring(0, 12) + "..." 
								                        : users[i].phone %>
                                                    </td>
                                                    <td class="text-center">
                                                        <% if (users[i].status == 'active' ) { %>
                                                            <div class="saIcons" data-tooltip="Active" onmouseover="changeColor('#28a745')"><i class="fa-solid fa-circle-check" style="color: green; font-size: 1.1rem;"></i></div>
                                                        <% } else if (users[i].status == 'deleted' ) { %>
                                                            <div class="saIcons" data-tooltip="Inactive" onmouseover="changeColor('#dc3545')"><i class="fa-solid fa-circle-xmark" style="color: red; font-size: 1.1rem;"></i></div>
                                                        <% } else { %>
                                                            <div class="saIcons" data-tooltip="Pending" onmouseover="changeColor('#ffc107')"><i class="fa-solid fa-circle-exclamation" style="color: orange; font-size: 1.1rem;"></i></div>
                                                        <% } %>
                                                    </td>
                                                    <td style="padding-left: 5%;" class="d-flex flex-nowrap justify-content-center">
                                                        <a onclick="clickBtn('detail', '<%= users[i].id %>')" href="#"
                                                            class="btn btn-primary btn-sm btn-fixed-width me-1">View</a>
                                                        <a onclick="clickBtn('update', '<%= users[i].id %>')" href="#"
                                                            class="btn btn-warning btn-sm btn-fixed-width me-1">Edit</a>

                                                        <% if (users[i].status=='deleted' ) { %>
                                                            <a onclick="clickBtn('restore', '<%= users[i].id %>')" href="#"
                                                            class="btn btn-danger btn-sm btn-fixed-width me-1">Restore</a>
                                                        <% } else {%>
                                                            <a onclick="clickBtn('delete', '<%= users[i].id %>')" href="#"
                                                            class="btn btn-danger btn-sm btn-fixed-width me-1">Delete</a>
                                                        <% } %>
                                                    </td>
                                                </tr>
                                            <% } } %>
                                        </tbody>
                                    </table>
                                </div>
                                <nav aria-label="..." id="paginationNav">
                                    <div class="d-flex justify-content-center">
                                        <p class="pagContent"> <%= (parseInt(pagination.page) - 1)*10 + 1 %><span id="lastNum">-<%= parseInt(pagination.page) *10 %></span> / <%= pagination.total %></p>
                                    </div>
                                    <ul class="pagination d-flex justify-content-center">
                                        <li class="page-item">
                                            <a class="page-link" id="prevBtn" href="#" onclick="pagination('page','<%= pagination.page -1 %>')" tabindex="-1"><</a>
                                        </li>
                                        <li class="page-item prev"><a class="page-link" href="#" onclick="pagination('page',1)" >1</a></li>
                                        <li class="page-item prev"><a class="page-link" href="#" onclick="pagination('page',2)" id="prevDots" href="#">...</a></li>
                                        <li class="page-item prev" id="prevNum">
                                            <a class="page-link" href="#" onclick="pagination('page','<%= pagination.page -1 %>')"><%= pagination.page -1 %><span class="sr-only"></span></a>
                                        </li>
                                        <li class="page-item active" id="currentPage">
                                            <a class="page-link page" href="#"><%= pagination.page %><span class="sr-only"></span></a>
                                        </li>
                                        <li class="page-item next" id="nextNum">
                                            <a class="page-link" href="#" onclick="pagination('page','<%= +pagination.page +1 %>')"><%= +pagination.page +1 %><span class="sr-only"></span></a>
                                        </li>
                                        <li class="page-item next"><a class="page-link" id="nextDots" href="#" onclick="pagination('page','<%= +pagination.page +2 %>')">...</a></li>
                                        <li class="page-item next"><a class="page-link" href="#" onclick="pagination('page','<%= pagination.totalPage %>')"><%= pagination.totalPage %></a></li>
                                        <li class="page-item">
                                            <a class="page-link" id="nextBtn" href="#" onclick="pagination('page','<%= +pagination.page +1 %>')">></a>
                                        </li>
                                    </ul>
                                </nav>
            </div>
            <script>
                // Sort
                let sortDirections = {};

                function sortTable(columnIndex, type, headerElement) {
                    let table = document.getElementById("superadminsTable");
                    let rows = Array.from(table.getElementsByTagName("tr"));
                    let ascending = !sortDirections[columnIndex];
                    sortDirections[columnIndex] = ascending;

                    rows.sort((rowA, rowB) => {
                        let cellA = rowA.getElementsByTagName("td")[columnIndex]?.innerText.trim() || "";
                        let cellB = rowB.getElementsByTagName("td")[columnIndex]?.innerText.trim() || "";

                        if (type === "number") {
                            cellA = parseFloat(cellA.replace(/[^0-9.-]/g, "")) || 0;
                            cellB = parseFloat(cellB.replace(/[^0-9.-]/g, "")) || 0;
                            return ascending ? cellA - cellB : cellB - cellA;
                        } else {
                            return ascending ? cellA.localeCompare(cellB) : cellB.localeCompare(cellA);
                        }
                    });
                    rows.forEach(row => table.appendChild(row));
                    document.querySelectorAll("th span").forEach(span => span.innerHTML = "");
                    headerElement.querySelector("span").innerHTML = ascending ? " ▲" : " ▼";
                }
                // xxx

                const paginationNav = document.getElementById('paginationNav');
                const page = parseInt("<%= pagination.page %>", 10);
                const totalPage = parseInt("<%= pagination.totalPage %>", 10);
                const total = parseInt("<%= pagination.total %>", 10);
                const prevBtn = document.getElementById('prevBtn');
                const nextBtn = document.getElementById('nextBtn');
                const prevs = document.querySelectorAll('.prev');
                const nexts = document.querySelectorAll('.next');
                const prevDots = document.getElementById('prevDots');
                const nextDots = document.getElementById('nextDots');
                const prevNum = document.getElementById('prevNum');
                const nextNum = document.getElementById('nextNum');
                const lastNum = document.getElementById('lastNum');

                if ( totalPage == 1 || Number.isNaN(page) || page > totalPage ) {
                    paginationNav.classList.add('d-none');
                }

                if (page <= 1) {
                    prevBtn.classList.add('disabled');
                    prevBtn.href = '#';
                    prevs.forEach(prev => prev.classList.add('d-none'));
                } else if (page === 2) {
                    prevDots.classList.add('d-none');
                    prevNum.classList.add('d-none');
                } else if (page === 3) {
                    prevDots.classList.add('d-none');
                } else if (page === 4) {
                    prevDots.innerText = "2"
                }

                if (page == totalPage) {
                    nextBtn.classList.add('disabled');
                    nextBtn.href = '#';
                    nexts.forEach(next => next.classList.add('d-none'));
                    lastNum.innerHTML = "-" + total
                    if (( total%10 ) == 1) {
                        lastNum.classList.add('d-none')
                    }
                } else if (page === totalPage - 1) {
                    nextDots.classList.add('d-none');
                    nextNum.classList.add('d-none');
                } else if (page === totalPage - 2) {
                    nextDots.classList.add('d-none');
                } else if (page === totalPage - 3) {
                    nextDots.innerText = totalPage -1
                }

                // Tooltips
                function changeColor(tooltipColor) {
                    const icons = document.querySelectorAll('.saIcons')
                    icons.forEach (icon => {
                        icon.style.setProperty('--tooltip-color', tooltipColor);
                    })
                }

                // Refresh
                function reset() {
                    window.location.href = "/superadmin/users"
                }

                // Search
                function search() {
                    let url = new URL(window.location.href);
                    let searchValue = document.getElementById("searchValue").value.trim()
                    let searchBtn = document.getElementById('searchBtn')
                    
                    if (searchValue) {
                        url.searchParams.set("name", searchValue)
                        url.searchParams.set('page', 1);
                    } else {
                        url.searchParams.delete("name")
                    }
                    window.location.href = url.toString();
                }

                function checkEnter(event) {
                    if (event.key === 'Enter') {
                        search()
                    }
                }

                // Change status in filter
                function changeStatus(status) {
                    let url = new URL(window.location.href);
                    
                    if ( status != 'all' ) {
                        url.searchParams.set('status', status);
                        url.searchParams.set('page', 1);
                    } else {
                        url.searchParams.set('status', 'all');
                        url.searchParams.set('page', 1);
                    }
                    window.location.href = url.toString();
                }

                const searchParams = new URLSearchParams(window.location.search)
                const statusQuery = searchParams.get('status')
                if (statusQuery) {
                    const statuses = document.querySelectorAll('.status');
                    statuses.forEach(status => {
                        status.classList.remove('dropdown-active');
                    })
                    document.getElementById(`${statusQuery}`).classList.add('dropdown-active');
                }

                // Pagination
                function pagination( type, num ) {
                    let url = new URL(window.location.href);
                    url.searchParams.set( type, num)
                    window.location.href = url.toString();
                }

                // Click Btns
                let url = new URL(window.location.href);
                let name = url.searchParams.get( 'name' )
                let status = url.searchParams.get( 'status' )
                let urlPage = url.searchParams.get( 'page' )
                let query = "?"
                
                if (urlPage) {
                    query += "page=" + urlPage
                } else {
                    query += "page=1"
                }

                if (name) {
                    query += "&name=" + name
                }

                const filterBtn = document.getElementById('filterBtn')
                if (status) {
                    query += "&status=" + status
                    if (status == "all") {
                        filterBtn.classList.remove('useFilter')
                    } else {
                        filterBtn.classList.add('useFilter')
                    }
                }

                function clickBtn(type, num) {
                    if (type === 'add') {
                        window.location.href = "/superadmin/add-superadmin" + query
                    } else {
                        window.location.href = "/superadmin/users/" + type + "/" + num + query
                    }
                }

            </script>
        </main>
        <%- include('../partials/superadmin/footer.ejs') %>