<%- include('../partials/superadmin/header.ejs') %>
    <%- include('../partials/superadmin/navbar.ejs') %>


        <!-- Main Content -->
        <main class="col-md-9 col-lg-10">
            <div class="content">
                <% if (errorMessage) { %>
                    <div id="errorBox" class="alert alert-danger" role="alert">
                        <%= errorMessage %>
                    </div>
                    <% } %>
                        <% if (successMessage) { %>
                            <div id="successBox" class="alert alert-success" role="alert">
                                <%= successMessage %>
                            </div>
                            <% } %>
                                <div class="d-flex justify-content-between align-items-center mb-4">
                                    <h2>System Admins</h2>
                                    <a class="btn btn-primary" href="/superadmin/add-superadmin?page=<%= pagination.page %>&totalPage=<%= pagination.totalPage %>&pageSize=<%= pagination.pageSize %>&total=<%= pagination.total %>">
                                        Add New System Admin
                                    </a>
                                </div>
                                <nav class="mb-4 d-flex w-100 justify-content-between">
                                    <form class="d-flex searchBar" role="search">
                                        <input class="form-control me-2" type="search" placeholder="Enter username (or) email address" aria-label="Search">
                                    </form>
                                    <div class="btn-group">
                                        <button type="button" class="btn dropdown-toggle px-3 sortBtn" data-bs-toggle="dropdown" aria-expanded="false">
                                            Filter
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item dropdown-active" href="#">All</a>
                                            <a class="dropdown-item" href="/superadmin/users?status=active">Active</a>
                                            <a class="dropdown-item" href="/superadmin/users?status=deleted">Inactive</a>
                                            <a class="dropdown-item" href="/superadmin/users?status=pending">Pending</a>
                                            <a class="dropdown-item" href="#">Expired</a>
                                        </ul>
                                    </div>
                                </nav>
                                <!-- Organizations Table -->
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover">
                                        <thead class="table-dark">
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Phone</th>
                                                <th class="text-center">Status</th>
                                                <th class="text-center">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody id="organizationsTable">
                                            <!-- Dynamic rows go here -->
                                            <% for (let i=0; i < users.length; i++) { %>
                                                <tr>
                                                    <td>
                                                        <%= i + (parseInt(pagination.page) - 1)*10 + 1 %>
                                                    </td>

                                                    <td>
														<%= users[i].name.length > 25 
								                        ? users[i].name.substring(0, 25) + "..." 
								                        : users[i].name %>
                                                    </td>
                                                    <td>
														<%= users[i].email.length > 30 
								                        ? users[i].email.substring(0, 30) + "..." 
								                        : users[i].email %>
                                                    </td>
                                                    <td>
														<%= users[i].phone.length > 15 
								                        ? users[i].phone.substring(0, 15) + "..." 
								                        : users[i].phone %>
                                                    </td>
                                                    <td class="text-center">
                                                        <% if (users[i].status == 'active' ) { %>
                                                            <i class="fa-solid fa-circle-check" style="color: green; font-size: 1.1rem;"></i>
                                                        <% } else if (users[i].status == 'deleted' ) { %>
                                                            <i class="fa-solid fa-circle-minus" style="color: red; font-size: 1.1rem;"></i>
                                                        <% } else { %>
                                                            <i class="fa-solid fa-circle-exclamation" style="color: orange; font-size: 1.1rem;"></i>
                                                        <% } %>
                                                    </td>
                                                    <td style="padding-left: 5%;">
                                                        <a href="/superadmin/users/detail/<%= users[i].id %>?page=<%= pagination.page %>"
                                                            class="btn btn-primary btn-sm">View</a>
                                                        <a href="/superadmin/users/update/<%= users[i].id %>?page=<%= pagination.page %>"
                                                            class="btn btn-warning btn-sm">Edit</a>

                                                        <% if (users[i].status=='deleted' ) { %>
                                                            <a href="/superadmin/users/restore/<%= users[i].id %>?page=<%= pagination.page %>"
                                                            class="btn btn-danger btn-sm">Restore</a>
                                                        <% } else {%>
                                                            <a href="/superadmin/users/delete/<%= users[i].id %>?page=<%= pagination.page %>"
                                                            class="btn btn-danger btn-sm">Delete</a>
                                                        <% } %>
                                                    </td>
                                                </tr>
                                                <% } %>
                                        </tbody>
                                    </table>
                                </div>
                                <nav aria-label="..." id="paginationNav">
                                    <div class="d-flex justify-content-center">
                                        <p> <%= (parseInt(pagination.page) - 1)*10 + 1 %><span id="lastNum">-<%= parseInt(pagination.page) *10 %></span> / <%= pagination.total %></p>
                                    </div>
                                    <ul class="pagination d-flex justify-content-center">
                                        <li class="page-item">
                                            <a class="page-link" id="prevBtn" href="/superadmin/users?page=<%= pagination.page -1 %>" tabindex="-1"><</a>
                                        </li>
                                        <li class="page-item prev"><a class="page-link" href="/superadmin/users?page=1">1</a></li>
                                        <li class="page-item prev"><a class="page-link" id="prevDots" href="#">...</a></li>
                                        <li class="page-item prev" id="prevNum">
                                            <a class="page-link" href="/superadmin/users?page=<%= pagination.page -1 %>"><%= pagination.page -1 %><span class="sr-only"></span></a>
                                        </li>
                                        <li class="page-item active" id="currentPage">
                                            <a class="page-link" href="#"><%= pagination.page %><span class="sr-only"></span></a>
                                        </li>
                                        <li class="page-item next" id="nextNum">
                                            <a class="page-link" href="/superadmin/users?page=<%= +pagination.page +1 %>"><%= +pagination.page +1 %><span class="sr-only"></span></a>
                                        </li>
                                        <li class="page-item next"><a class="page-link" id="nextDots" href="#">...</a></li>
                                        <li class="page-item next"><a class="page-link" href="/superadmin/users?page=<%= pagination.totalPage %>"><%= pagination.totalPage %></a></li>
                                        <li class="page-item">
                                            <a class="page-link" id="nextBtn" href="/superadmin/users?page=<%= +pagination.page +1 %>">></a>
                                        </li>
                                    </ul>
                                </nav>
            </div>
            <script>

                const paginationNav = document.getElementById('paginationNav');
                const page = parseInt("<%= pagination.page %>", 10);
                const totalPage = parseInt("<%= pagination.totalPage %>", 10);
                const total = parseInt("<%= pagination.total %>", 10);
                const prevBtn = document.getElementById('prevBtn');
                const nextBtn = document.getElementById('nextBtn');
                const prevs = document.querySelectorAll('.prev');
                const nexts = document.querySelectorAll('.next');
                const prevDots = document.getElementById('prevDots');
                const nextDots = document.getElementById('nextDots');
                const prevNum = document.getElementById('prevNum');
                const nextNum = document.getElementById('nextNum');
                const lastNum = document.getElementById('lastNum');

                if ( totalPage == 1 || Number.isNaN(page) || page > totalPage ) {
                    paginationNav.classList.add('d-none');
                }

                if (page <= 1) {
                    prevBtn.classList.add('disabled');
                    prevBtn.href = '#';
                    prevs.forEach(prev => prev.classList.add('d-none'));
                } else if (page === 2) {
                    prevDots.classList.add('d-none');
                    prevNum.classList.add('d-none');
                } else if (page === 3) {
                    prevDots.classList.add('d-none');
                } else if (page === 4) {
                    prevDots.innerText = "2"
                    prevDots.href = "/superadmin/users?page=2"
                }

                if (page == totalPage) {
                    nextBtn.classList.add('disabled');
                    nextBtn.href = '#';
                    nexts.forEach(next => next.classList.add('d-none'));
                    lastNum.innerHTML = "-" + total
                    if (( total%10 ) == 1) {
                        lastNum.classList.add('d-none')
                    }
                } else if (page === totalPage - 1) {
                    nextDots.classList.add('d-none');
                    nextNum.classList.add('d-none');
                } else if (page === totalPage - 2) {
                    nextDots.classList.add('d-none');
                } else if (page === totalPage - 3) {
                    nextDots.innerText = totalPage -1
                    nextDots.href = "/superadmin/users?page=<%= +pagination.page +2 %>"
                }

            </script>
        </main>
        <%- include('../partials/superadmin/footer.ejs') %>