<style>
    #com-name {
        text-decoration: none;
        color: white;
		position: fixed;
        top: 25px;
    }
    
    .pro-pic {
        width: 30px;
        height: 30px;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
        margin-right: 8px;
    }
    
    .profile-placeholder {
        width: 60px;
        height: 60px;
        background: linear-gradient(135deg, #007bff, #0056b3);
        color: white;
        font-size: 20px;
        font-weight: bold;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        border: 2px solid rgba(255, 255, 255, 0.2);
    }
    
    #sidebarLabel {
        position: fixed;
		top: 30px;
		left: 95px;
    }
    
    .circle-icon {
        width: 20px;
        height: 20px;
        color: white;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    .profile-logo-preview {
        width: 60px;
        height: 60px;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }
    
    #menuBtn {
        width: 51px;
        height: 56px;
        border-radius: 8px;
        background-color: #D62828;
        position: fixed;
        top: 25px;
        left: 39.42px;
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        cursor: pointer;
        z-index: 1031;
    }

    /* Sidebar Styles */
    .sidebar {
        position: fixed;
        left: -280px;
        top: 0;
        width: 280px;
        height: 100vh;
        transition: left 0.3s ease-in-out;
        z-index: 1030;
        overflow-y: auto;
    }

    .sidebar.active {
        left: 0;
    }

    .sidebar-header {
        padding: 1rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .sidebar-body {
        padding: 1rem;
    }

    /* Overlay styles */
    .sidebar-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1029;
    }

    .sidebar-overlay.active {
        display: block;
    }
	#sidebarBody {
		position: fixed;
		top: 125px;
	}
	.iconColor{
		filter: grayscale(1) brightness(1000%);
	}
	.btnColor{
		background-color: #D62828;
	}
	#dashboardIcon {
		width: 26px;
		height: 26px;
	}
	#transactionIcon {
		width: 26px;
		height: 19.89px;
	}
	#categoryIcon {
		width: 26px;
		height: 20px;
	}
	#reportIcon {
		width: 26px;
		height: 26px;
	}
	#signoutIcon {
		width: 26px;
		height: 26px;
	}
	#salespersonIcon {
		width: 26px;
		height: 26px;
	}
	#settingsIcon {
		width: 26px;
		height: 26px;
	}
	#dashboardBtn, #transactionBtn, #reportBtn, #categoryBtn, #signoutBtn, #salespersonBtn, #settingsBtn {
		width: 231.0292510986328;
		height: 64;
		top: 155px;
		left: 42.17px;
		border-radius: 16px;
		padding-top: 16px;
		padding-right: 24px;
		padding-bottom: 16px;
		padding-left: 24px;
		gap: 24px;
	}
	a{
		text-decoration: none;
	}
	#dashboardText {
		margin-right: 10px;
	}
	.top-bar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }
	#userProfile {
		position: fixed;
		right: 30px;
	}
	#profileBtn {
		background-color: transparent;
		border: none;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		cursor: pointer;
	}
</style>

<nav class="navbar navbar-dark bg-dark navbar-expand-lg justify-content-center">
    <button id="menuBtn" class="btn btn-dark menu-icon me-3" onclick="toggleSidebar()">
        <img src="/dummy.svg" alt="menu logo" id="menulogo">
    </button>
	<div class="top-bar">
		<div id="userProfile" class="d-flex justify-content-center align-items-center">
			<div class="me-3 d-none d-sm-flex flex-column align-items-end" id="userNamePosition">
				<span id="userName" class="d-block fw-bold" style="font-size: large;"><%= userName %></span>
				<span id="userPosition"><%= userRole%></span>
			</div>
			<div id="profileBtn" onclick="goToUserProfilePage()">
				<% if (logo) {%> 
					<img src="/<%= logo %>" alt="Logo" class="profile-logo-preview">
				<%} else {%> 
					<div class="profile-placeholder me-2">
						<%= organizationName.charAt(0).toUpperCase() %>
					</div>
				<%} %>
			</div>
		</div>
	</div>
</nav>


<!-- Sidebar -->
<div class="sidebar bg-light" id="sidebar">
    <div class="sidebar-header">
        <button class="offcanvas-title text-dark fs-5 d-flex align-items-center p-1 btn" id="sidebarLabel" onclick="goToProfilePage()">
            <span class="fw-bold me-4 ms-2" style="font-size: larger;">
                <%= organizationName.toUpperCase() %>
            </span>
        </button>
    </div>
    
    <div class="sidebar-body" id="sidebarBody">
        <ul class="list-unstyled">
            <li><a href="/subscriber/home" class="text-dark d-block py-2 d-flex align-items-center" id="dashboardBtn" onclick="setActiveButton('dashboardBtn')">
                <img src="/dashboard_icon.svg" alt="Dashboard icon" id="dashboardIcon"> <span id="dashboardText">Dashboard</span></a></li>
            <li><a href="/subscriber/transaction/transactions" class="text-dark d-block py-2 d-flex align-items-center mt-3" id="transactionBtn" onclick="setActiveButton('transactionBtn')">
                <img src="/transaction_icon.svg" alt="transaction icon" id="transactionIcon"> <span id="dashboardText">Transactions</span></a></li>
            <li><a href="/subscriber/category/income" class="text-dark d-block py-2 d-flex align-items-center mt-3" id="categoryBtn" onclick="setActiveButton('categoryBtn')">
                <img src="/category_icon.svg" alt="Category icon" id="categoryIcon"> <span id="dashboardText">Categories</span></a></li>
            <li><a href="/subscriber/salesperson" class="text-dark d-block py-2 d-flex align-items-center mt-3" id="salespersonBtn" onclick="setActiveButton('salespersonBtn')">
                <img src="/salesperson_icon.svg" alt="Salesperson icon" id="salespersonIcon"> <span id="dashboardText">Salespersons</span></a></li>
            <li><a href="#" class="text-dark d-block py-2 d-flex align-items-center mt-3" id="reportBtn" onclick="setActiveButton('reportBtn')">
                <img src="/report_icon.svg" alt="Report icon" id="reportIcon"> <span id="dashboardText">Report</span></a></li>
            <li><a href="#" class="text-dark d-block py-2 d-flex align-items-center mt-3" id="settingsBtn" onclick="setActiveButton('settingsBtn')">
                <img src="/settings_icon.svg" alt="Settings icon" id="settingsIcon"> <span id="dashboardText">Settings</span></a></li>
            <li><a href="/subscriber/logout" class="text-dark d-block py-2 d-flex align-items-center mt-3" id="signoutBtn" onclick="setActiveButton('signoutBtn')">
                <img src="/signout_icon.svg" alt="Sign Out icon" id="signoutIcon"> <span id="dashboardText">Sign Out</span></a></li>
        </ul>
    </div>
</div>

<!-- Overlay -->
<div id="overlay" class="sidebar-overlay" onclick="toggleSidebar()"></div>

<script>
    const currentPath = window.location.pathname;
    
    function setInitialActiveButton() {
        const buttonMap = {
            '/subscriber/home': 'dashboardBtn',
            '/subscriber/transaction/transactions': 'transactionBtn',
            '/subscriber/category/income': 'categoryBtn',
            '/subscriber/salesperson': 'salespersonBtn'
        };

        const activeButtonId = buttonMap[currentPath];
        if (activeButtonId) {
            setActiveButton(activeButtonId);
        }
    }

    function setActiveButton(buttonId) {
        const allButtons = document.querySelectorAll('.sidebar-body a');
        allButtons.forEach(button => {
            button.classList.remove('text-light', 'btnColor');
            button.classList.add('text-dark');
            const img = button.querySelector('img');
            if (img) {
                img.classList.remove('iconColor');
            }
        });

        const activeButton = document.getElementById(buttonId);
        if (activeButton) {
            activeButton.classList.remove('text-dark');
            activeButton.classList.add('text-light', 'btnColor');
            const img = activeButton.querySelector('img');
            if (img) {
                img.classList.add('iconColor');
            }
        }
    }

    function toggleSidebar() {
        const sidebar = document.getElementById('sidebar');
        const overlay = document.getElementById('overlay');
        
        sidebar.classList.toggle('active');
        overlay.classList.toggle('active');
    }

    function handleOutsideClick(event) {
        const sidebar = document.getElementById('sidebar');
        const menuBtn = document.getElementById('menuBtn');
        
        if (!sidebar.contains(event.target) && 
            !menuBtn.contains(event.target) && 
            sidebar.classList.contains('active')) {
            toggleSidebar();
        }
    }

    function goToProfilePage() {
        window.location.href = "/subscriber/organization/profile";
    }
	function goToUserProfilePage() {
        window.location.href = "/subscriber/user/profile";
    }
	function formatName(name) {
        return name.toLowerCase().replace(/\b\w/g, (char) => char.toUpperCase());
    }
    let userNameElement = document.getElementById("userName");
	let userPositionElement = document.getElementById("userPosition");
    if (userNameElement) {
        userNameElement.textContent = formatName(userNameElement.textContent);
    }
	if (userPositionElement) {
		userPositionElement.textContent = formatName(userPositionElement.textContent);
	}

    document.onclick = handleOutsideClick;

    window.onload = setInitialActiveButton;
</script>
			
			