<%- include('../partials/subscriber/header.ejs') %>
    <%- include('../partials/subscriber/navbar.ejs') %>
	<style>
		#receipt {
			    max-height: 200px;
			    border-radius: 10px;
			    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
			    border: 1px solid #ddd;
			    padding: 5px;
			    background: #fff;
			    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
			}

			#receipt:hover {
			    transform: scale(1.05);
			    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
				cursor: pointer;
			}
	</style>
		<main class="col-md-9 col-lg-10">
			<div class="container my-5">
				<h2 class="mb-4">Update Transaction</h2>
		
				<% if (errorMessage) { %>
					<div id="errorBox" class="alert alert-danger" role="alert">
						<%= errorMessage %>
					</div>
					<% } %>
				<% if (successMessage) { %>
				<div id="successBox" class="alert alert-success" role="alert">
					<%= successMessage %>
				</div>
				<% } %>
				<!-- Category Details Form -->
				<form class="mb-4" method="POST" id="myForm" enctype="multipart/form-data" onsubmit="submitForm(event)">
					<div class="mb-3">
						<label for="transDescription" class="form-label">Description</label>
						<input type="text" class="form-control inputRequired" maxlength="100" name="description" id="transDescription"
							placeholder="Enter description" value="<%= transaction.description %>" oninput="checkInputs('transDescriptionError', 'transDescription')" required>
						<p id="transDescriptionError" class="mt-2 d-none text-danger">*Description can't exceed 100 characters!</p>
					</div>
					<div class="mb-3">
						<label for="transAmount" class="form-label">Amount</label>
						<input type="number" class="form-control inputRequired" maxlength="11" name="amount" id="transAmount"
							placeholder="Enter amount" value="<%= transaction.amount %>" oninput="checkInputs('transAmountError', 'transAmount')" required>
						<p id="transAmountError" class="mt-2 d-none text-danger">*Amount can't exceed 11 characters!</p>
					</div>
					<div class="mb-3">
						<label for="transCategory" class="form-label">Category</label>
						<select id="transCategory" name="catId" class="form-select inputRequired" required>

							<% category.forEach(option => { %>
								<option value="<%= option.id %>" <%= option.id === transaction.catId ? 'selected' : '' %> >
									<%= option.name.length > 30 ? option.name.substring(0, 30) + '...' : option.name %>
								</option>
							<% }); %>
						</select>
					</div>
					<div class="mb-3">
						<label for="transDate" class="form-label">Date</label>
						<input type="datetime-local" class="form-control"  name=<% if (trans === 'income' ) { %> "incomeDate" <% } else {%> "expenseDate" <% } %> id="transDate"
							placeholder="Select date" value="" required>
					</div>
					<% if (transaction.receipt && transaction.receipt !== 'null' ) { %>
						<div class="mb-3">
							<label for="transReceipt" class="form-label">Receipt</label><br>
							<img src="/<%= transaction.receipt %>" data-bs-toggle="modal" data-bs-target="#receiptModal" id="receipt" alt="Receipt Image" class="img-fluid" />
							<br>
							<label for="transReceipt" class="form-label mt-3">Update Receipt</label><br>
							<input type="file" class="form-control" name="receipt" id="transReceipt">
						</div>
					<% } %>
					<button type="submit" id="addBtn" class="btn btn-success w-100 mb-2">Update Category</button>
					<a href="" class="btn w-100" id="resetBtn"></a>
		
				</form>
		
			</div>
			<div class="modal fade" id="receiptModal" tabindex="-1" aria-labelledby="receiptModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-xl">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="receiptModalLabel">Receipt Preview</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body text-center">
							<img src="/<%= transaction.receipt %>" class="img-fluid" id="modalReceiptImage" alt="Receipt Image"
								style="width: 100%; max-height: 90vh; object-fit: contain; border-radius: 10px; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);" />
						</div>
					</div>
				</div>
			</div>
			<script>
				let searchParams = new URLSearchParams(window.location.search);
				let trans = searchParams.get('trans')
				let cat = searchParams.get('cat')
				let id = searchParams.get('id')
				let isoString = '';
				if (trans === 'income' || cat === 'income') {
					isoString = "<%= transaction.incomeDate %>";
				} else {
					isoString = "<%= transaction.expenseDate %>";
				}
				let localDate = new Date(isoString);
				let year = localDate.getFullYear();
				let month = String(localDate.getMonth() + 1).padStart(2, '0');
				let day = String(localDate.getDate()).padStart(2, '0');
				let hours = String(localDate.getHours()).padStart(2, '0');
				let minutes = String(localDate.getMinutes()).padStart(2, '0');
				let seconds = String(localDate.getSeconds()).padStart(2, '0');
				let formattedDate = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
				document.getElementById('transDate').value = formattedDate;
				const page = "<%= pagination.page %>"
				function buttonType() {
					searchParams = new URLSearchParams(window.location.search);
					const type = searchParams.get('type')
					const resetBtn = document.getElementById("resetBtn")
					trans = searchParams.get('trans')
					if (cat){
						if (cat === 'income'){
							resetBtn.href = `/subscriber/category/income/detail/${id}?page=${page}`
						} else {
							resetBtn.href = `/subscriber/category/expense/detail/${id}?page=${page}`
						}
					} else {
						resetBtn.href = `/subscriber/transaction/${trans}?page=${page}`
					}
					if (type == 'update') {
						resetBtn.innerText = "Back"
						resetBtn.classList.add("btn-primary")
					}
					else {
						resetBtn.innerText = "Cancel"
						resetBtn.classList.add("btn-danger")
					}
		
				}
				buttonType();
		
				const addButton = document.getElementById('addBtn');
				const form = document.getElementById('myForm');
				const inputs = form.querySelectorAll('.form-control[required]');
		
				function checkInputs(messageBox, inputField) {
					let allFilled = true;
					inputs.forEach(index => {
					if (!index.value.trim()) {
						allFilled = false;
					}
					});
					addButton.disabled = !allFilled;
					const message = document.getElementById(messageBox)
					const input = document.getElementById(inputField)
					if (input.value.length === parseInt(input.maxLength)) {
						message.classList.remove('d-none');
					} else {
						message.classList.add('d-none');
					}
				}
		
				function submitForm(event) {
					addButton.disabled = true;
					addButton.textContent = 'Submitting...';
				}
				
			</script>
		</main>
        <%- include('../partials/subscriber/footer.ejs') %>
